{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- for block in section.blocks -%}
  {%- if block.type == 'complementary' -%}
    {{ 'component-card-complementary.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- if block.type == 'product_countdown' -%}
    {{ 'component-product-countdown.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- endfor -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}


<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
  class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} background"
>
  <div class="product {% if product.media.size > 0 %}row{% else %}product--no-media{% endif %} container">
    <div class="product__outer {% if section.settings.desktop_alignment == 'right' %} product__outer--desktop-order {% endif %} {% if section.settings.mobile_alignment == 'after' %} product__outer--mobile-order{% endif %}">
      {%- if settings.show_breadcrumbs -%}
        <nav class="breadcrumb breadcrumb__mobile body-small" role="navigation" aria-label="breadcrumbs">
          <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}">
            {{- 'general.breadcrumbs.home' | t -}}
          </a>
          <div class="breadcrumb__delimiter"></div>
          {%- if product.collections[0] -%}
            <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>
            <div class="breadcrumb__delimiter"></div>
          {%- else -%}
            <a href="{{ routes.all_products_collection_url }}">{{ 'products.product.shop' | t }}</a>
            <div class="breadcrumb__delimiter"></div>
          {%- endif -%}
          <span>{{ product.title }}</span>
        </nav>
      {%- endif -%}
      <div
        class="product__main"
        data-section="main-{{ section.id }}"
        data-image-type="{{ section.settings.aspect_ratio }}"
      >
        {%- case section.settings.aspect_ratio -%}
          {%- when 'landscape' -%}
            {%- assign ratio = '4/3' -%}
          {%- when 'portrait' -%}
            {%- assign ratio = '79/100' -%}
          {%- when 'square' -%}
            {%- assign ratio = '1/1' -%}
          {%- else -%}
            {%- assign ratio = '1/1' -%}
        {%- endcase -%}

        {% liquid
          assign aspect_ratio = ratio | split: '/'
          assign settings_aspect_ratio = aspect_ratio[0] | append: '.0' | divided_by: aspect_ratio[1]
          assign main_padding_bottom = 100 | divided_by: settings_aspect_ratio | round: 2
        %}
        {%- if product.media.size > 0 -%}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list{% if product.media.size > 1 %} js-media-list swiper{% endif %} no-js-hidden">
                <div class="product__media-list-container swiper-wrapper">
                  {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}

                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}

                    <div
                      class="product__media-item active swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        media_fit: section.settings.image_fit,
                        loop: section.settings.enable_video_looping,
                        video_autoplay: section.settings.enable_video_autoplay,
                        enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                        enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                        settings_aspect_ratio: settings_aspect_ratio
                      %}
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item {% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %}active{% endif %} swiper-slide {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          media_fit: section.settings.image_fit,
                          loop: section.settings.enable_video_looping,
                          video_autoplay: section.settings.enable_video_autoplay,
                          enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                          enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                          settings_aspect_ratio: settings_aspect_ratio
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>

              {% if product.media.size > 1 %}
                <div class="product__slider-nav no-js-hidden color-{{ section.settings.arrow_color_scheme }}">
                  <div class="swiper-button-prev product__slider-nav-prev focus-inset gallery-button">
                    <div class="product__slider-nav-icons-container product__slider-nav-icons-container--prev">
                      {% render 'icon-caret-left' %}
                      {% render 'icon-caret-left' %}
                    </div>
                  </div>
                  <div class="swiper-button-next product__slider-nav-next focus-inset gallery-button">
                    <div class="product__slider-nav-icons-container product__slider-nav-icons-container--next">
                      {% render 'icon-caret-right' %}
                      {% render 'icon-caret-right' %}
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="product__media-grid-noscript js-hidden">
                <div class="product__media-list">
                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                    <div
                      class="product__media-item {% if section.settings.image_fit == 'contain' %}product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        media_fit: section.settings.image_fit,
                        loop: section.settings.enable_video_looping,
                        video_autoplay: section.settings.enable_video_autoplay,
                        enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                        enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                        settings_aspect_ratio: settings_aspect_ratio
                      %}
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          media_fit: section.settings.image_fit,
                          loop: section.settings.enable_video_looping,
                          video_autoplay: section.settings.enable_video_autoplay,
                          enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                          enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                          settings_aspect_ratio: settings_aspect_ratio
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="product__pagination swiper-pagination"></div>

            {% comment %} render thumbnails
            {%- if product.media.size > 1 -%}
              {%- case section.settings.thumbs_aspect_ratio -%}
                {%- when 'landscape' -%}
                  {%- assign thumbs_ratio = '4/3' -%}
                  {%- assign thumbs_height = '48' -%}
                {%- when 'portrait' -%}
                  {%- assign thumbs_ratio = '79/100' -%}
                  {%- assign thumbs_height = '80' -%}
                {%- when 'square' -%}
                  {%- assign thumbs_ratio = '1/1' -%}
                  {%- assign thumbs_height = '64' -%}
                {%- else -%}
                  {%- assign thumbs_ratio = '1/1' -%}
                  {%- assign thumbs_height = '64' -%}
              {%- endcase -%}

              {% liquid
                assign thumbs_aspect_ratio = thumbs_ratio | split: '/'
                assign thumbs_temp = thumbs_aspect_ratio[0] | append: '.0'
                assign settings_thumbs_aspect_ratio = thumbs_aspect_ratio[0] | append: '.0' | divided_by: thumbs_aspect_ratio[1]
                assign thumbs_padding_bottom = thumbs_aspect_ratio[1] | divided_by: thumbs_temp | times: 100 | round: 2
              -%}

              <div class="product__media-sublist-outer no-js-hidden" style="--thumbs-height: {{ thumbs_height }}px;">
                <div
                  class="product__media-sublist js-media-sublist swiper"
                  data-thumbs-direction="{{ section.settings.thumbs_direction }}"
                >
                  <div class="product__media-sublist-container swiper-wrapper">
                    {%- if product.selected_or_first_available_variant.featured_media != null -%}
                      {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}

                      <div
                        class="product__media-subitem swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
                      >
                        <div class="product__media" style="padding-bottom: {{ thumbs_padding_bottom }}%;">
                          {%- capture style -%}
                            object-position: {{ featured_media.presentation.focal_point }};
                            object-fit: {{ section.settings.thumbs_image_fit | default: 'cover' }};
                          {%- endcapture -%}
                          {%- liquid
                            assign thumbs_calc_ratio = 1
                            if section.settings.thumbs_image_fit == 'cover' and featured_media.preview_image.aspect_ratio > settings_thumbs_aspect_ratio
                              assign thumbs_calc_ratio = featured_media.preview_image.aspect_ratio | divided_by: settings_thumbs_aspect_ratio | round: 2
                            endif
                          -%}
                          {%- capture subitem_sizes -%}
                            calc(64px * {{ thumbs_calc_ratio }})
                          {%- endcapture -%}
                          {{
                            featured_media.preview_image
                            | image_url: width: featured_media.preview_image.width
                            | image_tag: loading: 'lazy', sizes: subitem_sizes, widths: '64, 128, 192', style: style
                          }}
                        </div>
                      </div>
                    {%- endif -%}

                    {%- for media in product.media -%}
                      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                        <div
                          class="product__media-subitem swiper-slide {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                          data-media-sub-id="{{ section.id }}-{{ media.id }}"
                        >
                          <div class="product__media" style="padding-bottom: {{ thumbs_padding_bottom }}%;">
                            {%- capture style -%}
                              object-position: {{ media.presentation.focal_point }};
                              object-fit: {{ section.settings.thumbs_image_fit | default: 'cover' }};
                            {%- endcapture -%}
                            {%- liquid
                              assign thumbs_calc_ratio = 1
                              if section.settings.thumbs_image_fit == 'cover' and media.preview_image.aspect_ratio > settings_thumbs_aspect_ratio
                                assign thumbs_calc_ratio = media.preview_image.aspect_ratio | divided_by: settings_thumbs_aspect_ratio | round: 2
                              endif
                            -%}
                            {%- capture subitem_sizes -%}
                              calc(64px * {{ thumbs_calc_ratio }})
                            {%- endcapture -%}
                            {{
                              media.preview_image
                              | image_url: width: media.preview_image.width
                              | image_tag: loading: 'lazy', sizes: subitem_sizes, widths: '64, 128, 192', style: style
                            }}
                          </div>
                        </div>
                      {%- endunless -%}
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
            {% endcomment %}
          </div>
        {%- else -%}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list">
                <div class="product__media-item">
                  <div class="product__media media" style="padding-bottom: {{ main_padding_bottom }}%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" class="product__info-container">
        {% comment %} {% if settings.show_breadcrumbs %}
          <nav class="breadcrumb breadcrumb__desktop body-small" role="navigation" aria-label="breadcrumbs">
            <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}">
              {{- 'general.breadcrumbs.home' | t -}}
            </a>
            <div class="breadcrumb__delimiter"></div>
            {%- if product.collections[0] -%}
              <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>
              <div class="breadcrumb__delimiter"></div>
            {%- else -%}
              <a href="{{ routes.all_products_collection_url }}">{{ 'products.product.shop' | t }}</a>
              <div class="breadcrumb__delimiter"></div>
            {%- endif -%}
            <span>{{ product.title }}</span>
          </nav>
        {% endif %} {% endcomment %}
        <div class="product-box">

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="product__text subtitle" {{ block.shopify_attributes }}>
                  {%- if block.settings.text != blank -%}
                    {%- if product.vendor == block.settings.text and settings.enable_vendor_link -%}
                      {{ block.settings.text | link_to_vendor: class: 'focus-inset' | strip_html }}
                    {%- else -%}
                      {{ block.settings.text | strip_html }}
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- when 'title' -%}
                <div class="product__title__wrapper">
                  <h1 class="product__title h3" {{ block.shopify_attributes }}>
                    {{- product.title | escape -}}
                  </h1>
                </div>
              {%- when 'tags' -%}
                {%- if product.tags != blank -%}
                  <ul class="product-tags product__tags list-unstyled" {{ block.shopify_attributes }}>
                    {% for tag in product.tags %}
                      <li class="product-tags__tag">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                {%- endif -%}


              {%- when 'description' -%}
                {% liquid
                  assign has_excerpt = false
                  if block.settings.show_excerpt and product.metafields.custom.excerpt.value != blank
                    assign has_excerpt = true
                  endif
                %}
                {%- if product.description != blank or block.settings.description != blank or has_excerpt -%}
                  <div class="product__description-wrapper" {{ block.shopify_attributes }}>
                    {% comment %} EXCERPT FROM METAFIELD {% endcomment %}
                    {%- if has_excerpt -%}
                      <div class="product__description-excerpt">
                        {{- product.metafields.custom.excerpt.value -}}
                      </div>
                    {%- endif -%}
                    {%- if product.description != blank or block.settings.description != blank -%}
                      {%- comment -%} START OF OPENING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {% liquid
                        assign has_text_in_descr = false
                        assign format_descr = blank
                        if block.settings.description != blank
                          assign format_descr = block.settings.description | strip_html
                        elsif product.description != blank
                          assign format_descr = product.description | strip_html
                        endif
                        if format_descr != blank
                          assign has_text_in_descr = true
                        endif
                      %}
                      {%- if block.settings.enable_read_more and has_text_in_descr -%}
                        <div class="about">
                          <div class="about__accordion-item">
                            {% if has_excerpt == false %}
                              <button
                                class="about__accordion-toggle button--unstyled"
                                area-label="toggle"
                              >
                                <span class="about__accordion-toggle-text h5">
                                  <span class="text-show">{{- 'products.product.show_description' | t -}}</span>
                                  <span class="text-hide">{{- 'products.product.hide_description' | t -}}</span>
                                </span>
                                <div class="about__accordion-toggle-icon">
                                  {% render 'icon-plus-dropdown' %}
                                  {% render 'icon-minus-dropdown' %}
                                </div>
                              </button>
                            {% endif %}

                            <div
                              class="about__accordion-description{% if has_excerpt %} about__accordion-description--pb{% else %} about__accordion-description--pt{% endif %}"
                            >
                      {%- endif -%}
                      {%- comment -%} END OF OPENING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {%- comment -%} DESCRIPTION FROM PRODUCT OR OVERWRITE {%- endcomment -%}
                      <div class="product__description rte">
                        {%- if block.settings.description != blank -%}
                          {{- block.settings.description | escape -}}
                        {%- else -%}
                          {{- product.description -}}
                        {%- endif -%}
                      </div>
                      {%- comment -%} START OF CLOSEING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {%- if block.settings.enable_read_more and has_text_in_descr -%}
                        </div>
                        {% if has_excerpt %}
                          <button
                            class="about__accordion-toggle button--unstyled"
                            area-label="toggle"
                          >
                            <span class="about__accordion-toggle-text">
                              <span class="text-show">{{- 'products.product.show_more' | t -}}</span>
                              <span class="text-hide">{{- 'products.product.show_less' | t -}}</span>
                            </span>
                            <div class="about__accordion-toggle-icon">
                              {% render 'icon-plus-dropdown' %}
                              {% render 'icon-minus-dropdown' %}
                            </div>
                          </button>
                        {% endif %}
                        </div>
                        </div>
                      {%- endif -%}
                      {%- comment -%} END OF CLOSEING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>

        {% if product.metafields.custom.bundle_options != blank %}
          <div class="product-box quantity-box">
            <div class="box-title"><span>Select a quantity</span></div>
            <div class="box-content quantity-options">
              {% for bundle in product.metafields.custom.bundle_options.value %}
                <div class="quantity-option"
                    data-qty="{{ bundle.quantity }}"
                    data-price="{{ bundle.price }}">
                  <div class="qty">{{ bundle.quantity }}</div>
                  <div class="option-meta">
                    <div class="bundle-price">
                      {{ bundle.price | money }}
                    </div>
                  {% if bundle.price != blank and bundle.quantity != blank %}
                    <div class="bundle-base-price">
                      {{ bundle.price | divided_by: bundle.quantity | money }}
                    </div>
                  {% endif %}
                    {% if bundle.discount_text != blank %}
                      <div class="save-off">{{ bundle.discount_text }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

      {% comment %} render sticky add to cart block outside of ProductInfo {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'product_countdown' -%}
            {% assign item_count = cart | item_count_for_variant: product.selected_or_first_available_variant.id %}
            {%- if item_count == 0 -%}
              {% render 'product-countdown', block: block, product: product %}
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div
      class="product-media-modal__dialog"
      role="dialog"
      aria-label="{{ 'products.modal.label' | t }}"
      aria-modal="true"
      tabindex="-1"
    >
      {%- if section.id -%}
        <button
          id="ModalClose-{{ section.id }}"
          type="button"
          class="product-media-modal__toggle modal-close-button focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {{ 'accessibility.close' | t }}
        </button>
      {%- endif -%}

      <div
        class="product-media-modal__content swiper js-popup-slider"
        role="document"
        aria-label="{{ 'products.modal.label' | t }}"
        tabindex="0"
      >
        <div class="swiper-wrapper">
          {%- for media in product.media -%}
            <div
              class="swiper-slide product-media-modal__item"
              data-media-modal-id="{{ section.id }}-{{ media.id }}"
            >
              {%- if media.media_type == 'image' -%}
                <div class="swiper-zoom-container">
                  {{
                    media.preview_image
                    | image_url: width: media.preview_image.width
                    | image_tag:
                      loading: 'lazy',
                      widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                      data-media-id: media.id
                  }}
                </div>
              {%- else -%}
                {%- comment -%} prettier-ignore-start {%- endcomment -%}
                {%- if media.media_type == 'model' -%}
                  <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                    <product-model class="deferred-media media">
                      <button
                        id="Deferred-Poster-Modal-{{ media.id }}"
                        class="deferred-media__poster focus-inset"
                        type="button"
                      >
                        <span class="deferred-media__poster-button motion-reduce">
                          {%- if media.media_type == 'model' -%}
                            {%- render 'icon-3d-model' -%}
                          {%- else -%}
                            {%- render 'icon-play' -%}
                          {%- endif -%}
                        </span>
                        {{
                          media.preview_image
                          | image_url: width: 3600
                          | image_tag:
                            loading: 'lazy',
                            widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                            data-media-id: media.id
                        }}
                      </button>
                      <template>
                        {%- case media.media_type -%}
                          {%- when 'external_video' -%}
                            {%- assign video_class = 'js-' | append: media.host -%}
                            {%- if media.host == 'youtube' -%}
                              {{
                                media
                                | external_video_url:
                                  autoplay: true,
                                  loop: section.settings.enable_video_looping,
                                  playlist: media.external_id
                                | external_video_tag: class: video_class, loading: 'lazy'
                              }}
                            {%- else -%}
                              {{
                                media
                                | external_video_url: autoplay: true, loop: section.settings.enable_video_looping
                                | external_video_tag: class: video_class, loading: 'lazy'
                              }}
                            {%- endif -%}
                          {%- when 'video' -%}
                            {{
                              media
                              | media_tag:
                                image_size: '2048x',
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                controls: true,
                                preload: 'none'
                            }}
                          {%- when 'model' -%}
                            {{ media | media_tag: image_size: '2048x', toggleable: true }}
                        {%- endcase -%}
                      </template>
                    </product-model>
                    <button
                      class="button button--tertiary product__xr-button focus-inset"
                      type="button"
                      aria-label="{{ 'products.product.xr_button_label' | t }}"
                      data-shopify-xr
                      data-shopify-model3d-id="{{ media.id }}"
                      data-shopify-title="title"
                      data-shopify-xr-hidden
                    >
                      {% render 'icon-3d-model' %}
                      {{ 'products.product.xr_button' | t }}
                    </button>
                  </div>
                {%- else -%}
                  <deferred-media
                    class="deferred-media media"
                    data-media-id="{{ media.id }}"
                    data-autoplay="{{ section.settings.enable_video_autoplay }}"
                  >
                    <button
                      id="Deferred-Poster-Modal-{{ media.id }}"
                      class="deferred-media__poster focus-inset"
                      type="button"
                    >
                      <span class="deferred-media__poster-button motion-reduce">
                        {%- if media.media_type == 'model' -%}
                          {%- render 'icon-3d-model' -%}
                        {%- else -%}
                          {%- render 'icon-play' -%}
                        {%- endif -%}
                      </span>
                      {{
                        media.preview_image
                        | image_url: width: 3600
                        | image_tag:
                          loading: 'lazy',
                          widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                          data-media-id: media.id
                      }}
                    </button>
                    <template>
                      {%- case media.media_type -%}
                        {%- when 'external_video' -%}
                          {%- assign video_class = 'js-' | append: media.host -%}
                          {%- if media.host == 'youtube' -%}
                            {{
                              media
                              | external_video_url:
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                playlist: media.external_id,
                                mute: section.settings.enable_video_autoplay
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- else -%}
                            {{
                              media
                              | external_video_url:
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                muted: section.settings.enable_video_autoplay
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- endif -%}
                        {%- when 'video' -%}
                          {{
                            media
                            | media_tag:
                              image_size: '2048x',
                              autoplay: true,
                              loop: section.settings.enable_video_looping,
                              muted: section.settings.enable_video_autoplay,
                              controls: true,
                              preload: 'none'
                          }}
                        {%- when 'model' -%}
                          {{ media | media_tag: image_size: '2048x', toggleable: true }}
                      {%- endcase -%}
                    </template>
                  </deferred-media>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        <div class="container product__pagination-wrapper">
          <div class="product__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>

    <div class="container product__slider-nav product-media-modal__slider-nav no-js-hidden color-{{ section.settings.arrow_color_scheme }}">
      <div class="swiper-button-prev product__slider-nav-prev product-media-modal__slider-nav-prev focus-inset">
        <div class="product__slider-nav-icons-container product__slider-nav-icons-container--prev">
          {% render 'icon-caret-left' %}
          {% render 'icon-caret-left' %}
        </div>
      </div>
      <div class="swiper-button-next product__slider-nav-next product-media-modal__slider-nav-next focus-inset">
        <div class="product__slider-nav-icons-container product__slider-nav-icons-container--next">
          {% render 'icon-caret-right' %}
          {% render 'icon-caret-right' %}
        </div>
      </div>
    </div>
  </product-modal>

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>

  <script>
    (function () {
      const parentElement = document.currentScript.parentElement;
      const isQuickView = parentElement.closest('quick-add-modal');

      if ('{{ settings.recently_save_quick_view }}' == 'false' && isQuickView) {
        return;
      }

      const STORAGE_KEY = '__sf_theme_recently';
      const EXPIRATION_DAYS = {{ settings.recently_product_record_lifetime }};
      const productId = '{{ product.id }}';
      const dateNow = Date.now();

      let recentProducts;
      try {
        recentProducts = JSON.parse(localStorage.getItem(STORAGE_KEY)) || [];
      } catch (error) {
        recentProducts = [];
      }

      const expirationTime = EXPIRATION_DAYS * 24 * 60 * 60 * 1000;
      recentProducts = recentProducts.filter((item) => dateNow - item.timestamp < expirationTime);

      const existingIndex = recentProducts.findIndex((item) => item.productId == productId);
      if (existingIndex !== -1) {
        recentProducts[existingIndex].timestamp = dateNow;
      } else {
        recentProducts.unshift({ productId, timestamp: dateNow });
      }

      recentProducts.sort((a, b) => b.timestamp - a.timestamp);
      localStorage.setItem(STORAGE_KEY, JSON.stringify(recentProducts));
    })();
  </script>
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute('data-media-id')}"]`);

      if (
        activeMedia.nodeName == 'DEFERRED-MEDIA' &&
        activeMedia.querySelector('template')?.content?.querySelector('.js-youtube')
      )
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.desktop_alignment.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.desktop_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.desktop_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "after",
          "label": "t:sections.main-product.settings.mobile_alignment.options__1.label"
        },
        {
          "value": "before",
          "label": "t:sections.main-product.settings.mobile_alignment.options__2.label"
        }
      ],
      "default": "before",
      "label": "t:sections.main-product.settings.mobile_alignment.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "select",
      "id": "thumbs_direction",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-product.settings.thumbs_direction.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-product.settings.thumbs_direction.options__2.label"
        }
      ],
      "default": "vertical",
      "label": "t:sections.main-product.settings.thumbs_direction.label"
    },
    {
      "type": "select",
      "id": "thumbs_aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.main-product.settings.thumbs_aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "thumbs_image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.main-product.settings.thumbs_image_fit.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom_mobile",
      "default": false,
      "label": "t:sections.main-product.settings.enable_image_zoom_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom_desktop",
      "default": true,
      "label": "t:sections.main-product.settings.enable_image_zoom_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "arrow_color_scheme",
      "default": "background-2",
      "label": "t:sections.main-product.settings.arrow_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "limit": 1,
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "{{ product.vendor }}",
          "label": "t:sections.main-product.blocks.text.name"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_info",
          "default": false,
          "label": "t:sections.main-product.blocks.price.show_tax_info.label"
        }
      ]
    },
    {
      "type": "custom_badges",
      "name": "t:sections.main-product.blocks.custom_badges.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.main-product.blocks.description.settings.text.label",
          "info": "t:sections.main-product.blocks.description.settings.text.info"
        },
        {
          "type": "checkbox",
          "id": "enable_read_more",
          "default": false,
          "label": "t:sections.main-product.blocks.description.settings.enable_read_more.label"
        },
        {
          "type": "checkbox",
          "id": "show_excerpt",
          "default": false,
          "label": "t:sections.main-product.blocks.description.settings.show_excerpt.label",
          "info": "t:sections.main-product.blocks.description.settings.show_excerpt.info"
        }
      ]
    },
    {
      "type": "tags",
      "name": "t:sections.main-product.blocks.tags.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_inventory_amount",
          "default": true,
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_amount.label"
        },
        {
          "type": "number",
          "id": "limited_stock",
          "default": 10,
          "label": "t:sections.main-product.blocks.inventory.settings.limited_stock.label",
          "info": "t:sections.main-product.blocks.inventory.settings.limited_stock.info"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "select",
          "id": "swatch_type",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.info",
          "options": [
            {
              "value": "color",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.option__1.label"
            },
            {
              "value": "variant_image",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.option__2.label"
            }
          ],
          "default": "color"
        },
        {
          "type": "select",
          "id": "variant_image_size",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.card.image_ratio_2.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.card.image_ratio_2.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.card.image_ratio_2.options__3.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.main-product.blocks.variant_picker.settings.variant_image_size.label"
        },
        {
          "type": "checkbox",
          "id": "unavailable_options_clickable",
          "default": false,
          "label": "t:sections.main-product.blocks.variant_picker.settings.unavailable_options_clickable.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity.label"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "default": "Share",
          "label": "t:sections.main-product.blocks.share.settings.share_label.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_facebook",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_facebook.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_twitter",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_twitter.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_pinterest",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_pinterest.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_copy",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_copy.label"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "dropdown_information",
      "name": "t:sections.main-product.blocks.dropdown_information.name",
      "limit": 8,
      "settings": [
        {
          "type": "checkbox",
          "id": "characteristics",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.label",
          "info": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.info"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.all.heading.label",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.heading.default"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.text.label",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.description.default"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "button_show",
          "default": false,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.default_open.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "limit": 2,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label",
          "default": "t:sections.main-product.blocks.popup.settings.link_label.default"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.main-product.blocks.popup.settings.heading.label",
          "default": "t:sections.main-product.blocks.popup.settings.heading.default"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.main-product.blocks.popup.settings.text.label",
          "default": "t:sections.main-product.blocks.popup.settings.text.default"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.main-product.blocks.popup.settings.image.label"
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "default": "center",
          "label": "t:sections.main-product.blocks.popup.settings.alignment.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "product_countdown",
      "name": "t:sections.main-product.blocks.product_countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.product_countdown.settings.paragraph__1.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-1",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "inline_richtext",
          "id": "countdown_promo_text",
          "default": "t:sections.main-product.blocks.product_countdown.settings.countdown_promo_text.default",
          "label": "t:sections.main-product.blocks.product_countdown.settings.countdown_promo_text.label"
        },
        {
          "type": "checkbox",
          "id": "show_on_mobile",
          "default": true,
          "label": "t:sections.main-product.blocks.product_countdown.settings.show_on_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.product_countdown.settings.countdown_header.content"
        },
        {
          "type": "checkbox",
          "id": "show_countdown",
          "default": true,
          "label": "t:sections.main-product.blocks.product_countdown.settings.show_countdown.label"
        },
        {
          "type": "text",
          "id": "date_picker",
          "default": "2025-12-01",
          "info": "YYYY-MM-DD",
          "label": "t:sections.main-product.blocks.product_countdown.settings.date_picker.label"
        },
        {
          "type": "text",
          "id": "time_picker",
          "default": "00:00",
          "info": "hh:mm",
          "label": "t:sections.main-product.blocks.product_countdown.settings.time_picker.label"
        },
        {
          "type": "select",
          "id": "completed_countdown",
          "options": [
            {
              "value": "hide_section",
              "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.options__1.label"
            },
            {
              "value": "show_text",
              "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.options__2.label"
            }
          ],
          "default": "show_text",
          "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.label"
        },
        {
          "type": "inline_richtext",
          "id": "countdown_final_text",
          "label": "t:sections.main-product.blocks.product_countdown.settings.countdown_final_text.label",
          "default": "t:sections.main-product.blocks.product_countdown.settings.countdown_final_text.default"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.product_countdown.settings.button_header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.main-product.blocks.product_countdown.settings.button_label.label",
          "default": "t:sections.main-product.blocks.product_countdown.settings.button_label.default"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        }
      ]
    },
    {
      "type": "additional_service",
      "name": "t:sections.main-product.blocks.additional_service.name",
      "limit": 3,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_2.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_3.content"
        },
        {
          "type": "product",
          "id": "service_product",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_product.label",
          "info": "t:sections.main-product.blocks.additional_service.settings.service_product.info"
        },
        {
          "type": "text",
          "id": "service_checkbox_label",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_checkbox_label.label"
        },
        {
          "type": "checkbox",
          "id": "service_product_price",
          "default": true,
          "label": "t:sections.main-product.blocks.additional_service.settings.service_product_price.label"
        },
        {
          "type": "inline_richtext",
          "id": "service_description",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_description.label"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary.settings.paragraph__1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary.settings.paragraph__2.content"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.main-product.blocks.complementary.settings.heading.label",
          "default": "t:sections.main-product.blocks.complementary.settings.heading.default"
        },
        {
          "type": "range",
          "id": "products_limit",
          "min": 2,
          "max": 10,
          "step": 1,
          "default": 2,
          "label": "t:sections.product-recommendations.settings.products_limit.label"
        },
        {
          "type": "select",
          "id": "image_fit",
          "label": "t:sections.all.card.image_fit.label",
          "options": [
            {
              "value": "contain",
              "label": "t:sections.all.card.image_fit.options__1.label"
            },
            {
              "value": "cover",
              "label": "t:sections.all.card.image_fit.options__2.label"
            }
          ],
          "default": "cover"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "t:sections.all.card.show_vendor.label"
        }
      ]
    }
  ]
}
{% endschema %}
