{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- for block in section.blocks -%}
  {%- if block.type == 'complementary' -%}
    {{ 'component-card-complementary.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- if block.type == 'product_countdown' -%}
    {{ 'component-product-countdown.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- endfor -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}


<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
  class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} background"
>
  <div class="product {% if product.media.size > 0 %}row{% else %}product--no-media{% endif %} container">
    <div class="product__outer {% if section.settings.desktop_alignment == 'right' %} product__outer--desktop-order {% endif %} {% if section.settings.mobile_alignment == 'after' %} product__outer--mobile-order{% endif %}">
      {%- if settings.show_breadcrumbs -%}
        <nav class="breadcrumb breadcrumb__mobile body-small" role="navigation" aria-label="breadcrumbs">
          <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}">
            {{- 'general.breadcrumbs.home' | t -}}
          </a>
          <div class="breadcrumb__delimiter"></div>
          {%- if product.collections[0] -%}
            <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>
            <div class="breadcrumb__delimiter"></div>
          {%- else -%}
            <a href="{{ routes.all_products_collection_url }}">{{ 'products.product.shop' | t }}</a>
            <div class="breadcrumb__delimiter"></div>
          {%- endif -%}
          <span>{{ product.title }}</span>
        </nav>
      {%- endif -%}
      <div
        class="product__main"
        data-section="main-{{ section.id }}"
        data-image-type="{{ section.settings.aspect_ratio }}"
      >
        {%- case section.settings.aspect_ratio -%}
          {%- when 'landscape' -%}
            {%- assign ratio = '4/3' -%}
          {%- when 'portrait' -%}
            {%- assign ratio = '79/100' -%}
          {%- when 'square' -%}
            {%- assign ratio = '1/1' -%}
          {%- else -%}
            {%- assign ratio = '1/1' -%}
        {%- endcase -%}

        {% liquid
          assign aspect_ratio = ratio | split: '/'
          assign settings_aspect_ratio = aspect_ratio[0] | append: '.0' | divided_by: aspect_ratio[1]
          assign main_padding_bottom = 100 | divided_by: settings_aspect_ratio | round: 2
        %}
        {%- if product.media.size > 0 -%}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list{% if product.media.size > 1 %} js-media-list swiper{% endif %} no-js-hidden">
                <div class="product__media-list-container swiper-wrapper">
                  {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}

                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}

                    <div
                      class="product__media-item active swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        media_fit: section.settings.image_fit,
                        loop: section.settings.enable_video_looping,
                        video_autoplay: section.settings.enable_video_autoplay,
                        enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                        enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                        settings_aspect_ratio: settings_aspect_ratio
                      %}
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item {% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %}active{% endif %} swiper-slide {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          media_fit: section.settings.image_fit,
                          loop: section.settings.enable_video_looping,
                          video_autoplay: section.settings.enable_video_autoplay,
                          enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                          enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                          settings_aspect_ratio: settings_aspect_ratio
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>

              {% if product.media.size > 1 %}
                <div class="product__slider-nav no-js-hidden color-{{ section.settings.arrow_color_scheme }}">
                  <div class="swiper-button-prev product__slider-nav-prev focus-inset gallery-button">
                    <div class="product__slider-nav-icons-container product__slider-nav-icons-container--prev">
                      {% render 'icon-caret-left' %}
                      {% render 'icon-caret-left' %}
                    </div>
                  </div>
                  <div class="swiper-button-next product__slider-nav-next focus-inset gallery-button">
                    <div class="product__slider-nav-icons-container product__slider-nav-icons-container--next">
                      {% render 'icon-caret-right' %}
                      {% render 'icon-caret-right' %}
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="product__media-grid-noscript js-hidden">
                <div class="product__media-list">
                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                    <div
                      class="product__media-item {% if section.settings.image_fit == 'contain' %}product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        media_fit: section.settings.image_fit,
                        loop: section.settings.enable_video_looping,
                        video_autoplay: section.settings.enable_video_autoplay,
                        enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                        enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                        settings_aspect_ratio: settings_aspect_ratio
                      %}
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          media_fit: section.settings.image_fit,
                          loop: section.settings.enable_video_looping,
                          video_autoplay: section.settings.enable_video_autoplay,
                          enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                          enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                          settings_aspect_ratio: settings_aspect_ratio
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="product__pagination swiper-pagination"></div>
          </div>
        {%- else -%}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list">
                <div class="product__media-item">
                  <div class="product__media media" style="padding-bottom: {{ main_padding_bottom }}%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="customise-box">
          <div class="left-side">
            <div class="form-row">
              <button class="rounded-16">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11.5005" cy="12.4092" r="8.68799" stroke="#5D9DEA" stroke-width="1.3"/>
                  <path d="M8.11719 9.02734L14.8809 15.7905" stroke="#5D9DEA" stroke-width="1.3" stroke-linecap="round"/>
                  <path d="M14.8809 9.02734L8.11768 15.791" stroke="#5D9DEA" stroke-width="1.3" stroke-linecap="round"/>
                </svg>
                Skip Proofing
              </button>
              <button class="rounded-16 upload-later">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.26953 16.5294V22.3615H11.659H20.0484V16.5294M3.26953 16.5294H7.7711V17.1897C7.7711 18.2943 8.66653 19.1897 9.7711 19.1897H13.5468C14.6514 19.1897 15.5468 18.2943 15.5468 17.1897V16.5294H20.0484M3.26953 16.5294L5.53833 11.107L14.3762 11.1069L17.7796 11.107L20.0484 16.5294" stroke="#5D9DEA" stroke-width="1.3" stroke-linejoin="round"/>
                  <path d="M9.18085 11.4336V8.09103H6.76758L11.6589 2.63672L16.5503 8.09103H14.137V11.4336" stroke="#5D9DEA" stroke-width="1.3" stroke-linejoin="round"/>
                </svg>
                Upload later
              </button>
            </div>
            <div class="form-row form-customize">
              <label for="personalization">Personalization</label>
              <textarea
                id="personalization" class="personalization-text"
                name="properties[Personalization]"
                placeholder="Enter the text or details you'd like us to include."></textarea>
            </div>
          </div>

          <div class="right-side">
            <div class="product-upload-field">
              <label for="watermark-image-input" class="custom-file-upload">
                <svg width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="1.04395" width="40" height="40" rx="20" fill="#5D9DEA"/>
                  <path d="M22.4261 10.9948L14.3945 10.9948C13.29 10.9948 12.3945 11.8902 12.3945 12.9948L12.3945 26.791C12.3945 27.8956 13.29 28.791 14.3945 28.791L24.1311 28.791C25.2356 28.791 26.1311 27.8956 26.1311 26.791L26.1311 14.8835M22.4261 10.9948L26.1311 14.8835M22.4261 10.9948L22.4261 12.8835C22.4261 13.9881 23.3215 14.8835 24.4261 14.8835L26.1311 14.8835" stroke="#F2F8FF"/>
                  <path d="M26.5463 16.2812L26.6055 16.2812C27.71 16.2812 28.6055 17.1766 28.6055 18.2812L28.6055 29.0933C28.6055 30.1978 27.71 31.0933 26.6055 31.0933L16.8689 31.0933C15.7644 31.0933 14.8689 30.1978 14.8689 29.0933L14.8689 28.9746" stroke="#F2F8FF" stroke-linecap="round" stroke-dasharray="2.5 2.5"/>
                  <path d="M15.9746 21.2207V22.4287C15.9746 22.981 16.4223 23.4288 16.9746 23.4288H21.5499C22.1022 23.4288 22.5499 22.981 22.5499 22.4288V21.2207" stroke="#F2F8FF" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.2856 21.1807V17.0454M19.2856 17.0454L17.5098 18.7731M19.2856 17.0454L21.0614 18.7731" stroke="#F2F8FF" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p id="file-name">
                  <span class="default-holder">
                    <strong>Drag or click to upload</strong><br>
                    All formats supported.<br>
                    Max file size: 25MB | 1 file per order
                  </span>
                  <span class="selected-holder">
                  </span>
                  <span class="selected-image">
                  </span>
                </p>
              </label>
              <input id="watermark-image-input" type="file" accept=".svg,.png,.jpg,.jpeg"/>
            </div>
          </div>
        </div>
      </div>

      <div id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" class="product__info-container">
        <div class="product-box">

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="product__text subtitle" {{ block.shopify_attributes }}>
                  {%- if block.settings.text != blank -%}
                    {%- if product.vendor == block.settings.text and settings.enable_vendor_link -%}
                      {{ block.settings.text | link_to_vendor: class: 'focus-inset' | strip_html }}
                    {%- else -%}
                      {{ block.settings.text | strip_html }}
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- when 'title' -%}
                <div class="product__title__wrapper">
                  <h1 class="product__title h3" {{ block.shopify_attributes }}>
                    {{- product.title | escape -}}
                  </h1>
                </div>
              {%- when 'tags' -%}
                {%- if product.tags != blank -%}
                  <ul class="product-tags product__tags list-unstyled" {{ block.shopify_attributes }}>
                    {% for tag in product.tags %}
                      <li class="product-tags__tag">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                {%- endif -%}


              {%- when 'description' -%}
                {% liquid
                  assign has_excerpt = false
                  if block.settings.show_excerpt and product.metafields.custom.excerpt.value != blank
                    assign has_excerpt = true
                  endif
                %}
                {%- if product.description != blank or block.settings.description != blank or has_excerpt -%}
                  <div class="product__description-wrapper" {{ block.shopify_attributes }}>
                    {% comment %} EXCERPT FROM METAFIELD {% endcomment %}
                    {%- if has_excerpt -%}
                      <div class="product__description-excerpt">
                        {{- product.metafields.custom.excerpt.value -}}
                      </div>
                    {%- endif -%}
                    {%- if product.description != blank or block.settings.description != blank -%}
                      {%- comment -%} START OF OPENING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {% liquid
                        assign has_text_in_descr = false
                        assign format_descr = blank
                        if block.settings.description != blank
                          assign format_descr = block.settings.description | strip_html
                        elsif product.description != blank
                          assign format_descr = product.description | strip_html
                        endif
                        if format_descr != blank
                          assign has_text_in_descr = true
                        endif
                      %}
                      {%- if block.settings.enable_read_more and has_text_in_descr -%}
                        <div class="about">
                          <div class="about__accordion-item">
                            {% if has_excerpt == false %}
                              <button
                                class="about__accordion-toggle button--unstyled"
                                area-label="toggle"
                              >
                                <span class="about__accordion-toggle-text h5">
                                  <span class="text-show">{{- 'products.product.show_description' | t -}}</span>
                                  <span class="text-hide">{{- 'products.product.hide_description' | t -}}</span>
                                </span>
                                <div class="about__accordion-toggle-icon">
                                  {% render 'icon-plus-dropdown' %}
                                  {% render 'icon-minus-dropdown' %}
                                </div>
                              </button>
                            {% endif %}

                            <div
                              class="about__accordion-description{% if has_excerpt %} about__accordion-description--pb{% else %} about__accordion-description--pt{% endif %}"
                            >
                      {%- endif -%}
                      {%- comment -%} END OF OPENING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {%- comment -%} DESCRIPTION FROM PRODUCT OR OVERWRITE {%- endcomment -%}
                      <div class="product__description rte">
                        {%- if block.settings.description != blank -%}
                          {{- block.settings.description | escape -}}
                        {%- else -%}
                          {{- product.description -}}
                        {%- endif -%}
                      </div>
                      {%- comment -%} START OF CLOSEING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {%- if block.settings.enable_read_more and has_text_in_descr -%}
                        </div>
                        {% if has_excerpt %}
                          <button
                            class="about__accordion-toggle button--unstyled"
                            area-label="toggle"
                          >
                            <span class="about__accordion-toggle-text">
                              <span class="text-show">{{- 'products.product.show_more' | t -}}</span>
                              <span class="text-hide">{{- 'products.product.show_less' | t -}}</span>
                            </span>
                            <div class="about__accordion-toggle-icon">
                              {% render 'icon-plus-dropdown' %}
                              {% render 'icon-minus-dropdown' %}
                            </div>
                          </button>
                        {% endif %}
                        </div>
                        </div>
                      {%- endif -%}
                      {%- comment -%} END OF CLOSEING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>

        {% if product.metafields.custom.bundle_options != blank %}
          <div class="product-box quantity-box">
            <div class="box-title"><span>Select a quantity</span></div>
            <div class="box-content quantity-options">
              {% for bundle in product.metafields.custom.bundle_options.value %}
                {% assign matched_variant = null %}
                {% for v in product.variants %}
                  {% if v.title == bundle.name %}
                    {% assign matched_variant = v %}
                  {% endif %}
                {% endfor %}
                <div class="quantity-option"
                    data-qty="{{ bundle.quantity }}"
                    data-bundleqty="1"
                    data-price="{{ bundle.price }}"
                    data-variantid="{{ matched_variant.id }}">
                  <div class="qty">{{ bundle.quantity }}</div>
                  <div class="option-meta">
                    <div class="bundle-price">
                      {{ bundle.price | money }}
                    </div>
                  {% if bundle.price != blank and bundle.quantity != blank %}
                    <div class="bundle-base-price">
                      {{ bundle.price | divided_by: bundle.quantity | money }}
                    </div>
                  {% endif %}
                    {% if bundle.discount_text != blank %}
                      <div class="save-off">{{ bundle.discount_text }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="custom-option">
                <div class="custom-qty">
                  <span>Custom</span>
                  <input type="number" class="qty" id="custom-qty" placeholder="Enter custom..." min="1"/>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <div class="total-label">Total</div><div class="total-price"></div>
            </div>
          </div>
        {% endif %}
      </div>

      {% comment %} render sticky add to cart block outside of ProductInfo {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'product_countdown' -%}
            {% assign item_count = cart | item_count_for_variant: product.selected_or_first_available_variant.id %}
            {%- if item_count == 0 -%}
              {% render 'product-countdown', block: block, product: product %}
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <form method="post" action="{{ routes.cart_add_url }}" enctype="multipart/form-data" id="custom-add-to-cart-form">
      <input type="hidden" id="product-id" name="id" value="{{ product.variants.first.id }}">
      <div class="product__outer">
        <div class="product__main">
          {% render 'button',
            btn_link: 'javascript:;',
            btn_label: 'Add to cart',
            btn_style: 'secondary',
            class: 'button--add-to-cart'
          %}
        </div>
        <div class="product__info-container">
          {% render 'button',
            btn_link: 'javascript:;',
            btn_label: 'Checkout',
            btn_style: 'primary',
            class: 'button--checkout'
          %}
        </div>
      </div>
    </form>
  </div>

  {% render 'feature-keys' %}

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div
      class="product-media-modal__dialog"
      role="dialog"
      aria-label="{{ 'products.modal.label' | t }}"
      aria-modal="true"
      tabindex="-1"
    >
      {%- if section.id -%}
        <button
          id="ModalClose-{{ section.id }}"
          type="button"
          class="product-media-modal__toggle modal-close-button focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {{ 'accessibility.close' | t }}
        </button>
      {%- endif -%}

      <div
        class="product-media-modal__content swiper js-popup-slider"
        role="document"
        aria-label="{{ 'products.modal.label' | t }}"
        tabindex="0"
      >
        <div class="swiper-wrapper">
          {%- for media in product.media -%}
            <div
              class="swiper-slide product-media-modal__item"
              data-media-modal-id="{{ section.id }}-{{ media.id }}"
            >
              {%- if media.media_type == 'image' -%}
                <div class="swiper-zoom-container">
                  {{
                    media.preview_image
                    | image_url: width: media.preview_image.width
                    | image_tag:
                      loading: 'lazy',
                      widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                      data-media-id: media.id
                  }}
                </div>
              {%- else -%}
                {%- comment -%} prettier-ignore-start {%- endcomment -%}
                {%- if media.media_type == 'model' -%}
                  <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                    <product-model class="deferred-media media">
                      <button
                        id="Deferred-Poster-Modal-{{ media.id }}"
                        class="deferred-media__poster focus-inset"
                        type="button"
                      >
                        <span class="deferred-media__poster-button motion-reduce">
                          {%- if media.media_type == 'model' -%}
                            {%- render 'icon-3d-model' -%}
                          {%- else -%}
                            {%- render 'icon-play' -%}
                          {%- endif -%}
                        </span>
                        {{
                          media.preview_image
                          | image_url: width: 3600
                          | image_tag:
                            loading: 'lazy',
                            widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                            data-media-id: media.id
                        }}
                      </button>
                      <template>
                        {%- case media.media_type -%}
                          {%- when 'external_video' -%}
                            {%- assign video_class = 'js-' | append: media.host -%}
                            {%- if media.host == 'youtube' -%}
                              {{
                                media
                                | external_video_url:
                                  autoplay: true,
                                  loop: section.settings.enable_video_looping,
                                  playlist: media.external_id
                                | external_video_tag: class: video_class, loading: 'lazy'
                              }}
                            {%- else -%}
                              {{
                                media
                                | external_video_url: autoplay: true, loop: section.settings.enable_video_looping
                                | external_video_tag: class: video_class, loading: 'lazy'
                              }}
                            {%- endif -%}
                          {%- when 'video' -%}
                            {{
                              media
                              | media_tag:
                                image_size: '2048x',
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                controls: true,
                                preload: 'none'
                            }}
                          {%- when 'model' -%}
                            {{ media | media_tag: image_size: '2048x', toggleable: true }}
                        {%- endcase -%}
                      </template>
                    </product-model>
                    <button
                      class="button button--tertiary product__xr-button focus-inset"
                      type="button"
                      aria-label="{{ 'products.product.xr_button_label' | t }}"
                      data-shopify-xr
                      data-shopify-model3d-id="{{ media.id }}"
                      data-shopify-title="title"
                      data-shopify-xr-hidden
                    >
                      {% render 'icon-3d-model' %}
                      {{ 'products.product.xr_button' | t }}
                    </button>
                  </div>
                {%- else -%}
                  <deferred-media
                    class="deferred-media media"
                    data-media-id="{{ media.id }}"
                    data-autoplay="{{ section.settings.enable_video_autoplay }}"
                  >
                    <button
                      id="Deferred-Poster-Modal-{{ media.id }}"
                      class="deferred-media__poster focus-inset"
                      type="button"
                    >
                      <span class="deferred-media__poster-button motion-reduce">
                        {%- if media.media_type == 'model' -%}
                          {%- render 'icon-3d-model' -%}
                        {%- else -%}
                          {%- render 'icon-play' -%}
                        {%- endif -%}
                      </span>
                      {{
                        media.preview_image
                        | image_url: width: 3600
                        | image_tag:
                          loading: 'lazy',
                          widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                          data-media-id: media.id
                      }}
                    </button>
                    <template>
                      {%- case media.media_type -%}
                        {%- when 'external_video' -%}
                          {%- assign video_class = 'js-' | append: media.host -%}
                          {%- if media.host == 'youtube' -%}
                            {{
                              media
                              | external_video_url:
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                playlist: media.external_id,
                                mute: section.settings.enable_video_autoplay
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- else -%}
                            {{
                              media
                              | external_video_url:
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                muted: section.settings.enable_video_autoplay
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- endif -%}
                        {%- when 'video' -%}
                          {{
                            media
                            | media_tag:
                              image_size: '2048x',
                              autoplay: true,
                              loop: section.settings.enable_video_looping,
                              muted: section.settings.enable_video_autoplay,
                              controls: true,
                              preload: 'none'
                          }}
                        {%- when 'model' -%}
                          {{ media | media_tag: image_size: '2048x', toggleable: true }}
                      {%- endcase -%}
                    </template>
                  </deferred-media>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        <div class="container product__pagination-wrapper">
          <div class="product__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>

    <div class="container product__slider-nav product-media-modal__slider-nav no-js-hidden color-{{ section.settings.arrow_color_scheme }}">
      <div class="swiper-button-prev product__slider-nav-prev product-media-modal__slider-nav-prev focus-inset">
        <div class="product__slider-nav-icons-container product__slider-nav-icons-container--prev">
          {% render 'icon-caret-left' %}
          {% render 'icon-caret-left' %}
        </div>
      </div>
      <div class="swiper-button-next product__slider-nav-next product-media-modal__slider-nav-next focus-inset">
        <div class="product__slider-nav-icons-container product__slider-nav-icons-container--next">
          {% render 'icon-caret-right' %}
          {% render 'icon-caret-right' %}
        </div>
      </div>
    </div>
  </product-modal>

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>

  <script>
    (function () {
      const parentElement = document.currentScript.parentElement;
      const isQuickView = parentElement.closest('quick-add-modal');

      if ('{{ settings.recently_save_quick_view }}' == 'false' && isQuickView) {
        return;
      }

      const STORAGE_KEY = '__sf_theme_recently';
      const EXPIRATION_DAYS = {{ settings.recently_product_record_lifetime }};
      const productId = '{{ product.id }}';
      const dateNow = Date.now();

      let recentProducts;
      try {
        recentProducts = JSON.parse(localStorage.getItem(STORAGE_KEY)) || [];
      } catch (error) {
        recentProducts = [];
      }

      const expirationTime = EXPIRATION_DAYS * 24 * 60 * 60 * 1000;
      recentProducts = recentProducts.filter((item) => dateNow - item.timestamp < expirationTime);

      const existingIndex = recentProducts.findIndex((item) => item.productId == productId);
      if (existingIndex !== -1) {
        recentProducts[existingIndex].timestamp = dateNow;
      } else {
        recentProducts.unshift({ productId, timestamp: dateNow });
      }

      recentProducts.sort((a, b) => b.timestamp - a.timestamp);
      localStorage.setItem(STORAGE_KEY, JSON.stringify(recentProducts));
    })();
  </script>
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute('data-media-id')}"]`);

      if (
        activeMedia.nodeName == 'DEFERRED-MEDIA' &&
        activeMedia.querySelector('template')?.content?.querySelector('.js-youtube')
      )
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);

  function updateTotalPrice() {
    const options = document.querySelectorAll(".quantity-option");
    const totalPriceEl = document.querySelector(".total-price");
    const customInput = document.querySelector("#custom-qty");

    options.forEach(option => {
      option.addEventListener("click", () => {
        // Remove active state
        options.forEach(o => o.classList.remove("active"));
        // Add active state to clicked option
        option.classList.add("active");

        // Get price from dataset
        let price = parseFloat(option.dataset.price);

        // Format price like Shopify
        if (typeof Shopify !== "undefined" && Shopify.formatMoney) {
          totalPriceEl.textContent = Shopify.formatMoney(option.dataset.price);
        } else {
          totalPriceEl.textContent = "$" + (option.dataset.price / 100).toFixed(2);
        }
      });
    });

    if (customInput) {
      const handleCustomQty = () => {
        // Activate custom-option when typing or clicking
        options.forEach(o => o.classList.remove("active"));
        document.querySelector(".custom-option").classList.add("active");

        // If empty, clear the total and stop
        if (customInput.value.trim() === "") {
          totalPriceEl.textContent = "";
          return;
        }

        let qty = parseInt(customInput.value, 10);

        if (isNaN(qty) || qty <= 0) {
          totalPriceEl.textContent = "$0.00";
          return;
        }

        // Get all available bundle options
        let bundles = Array.from(document.querySelectorAll(".quantity-option:not(.custom-option)"))
          .map(o => ({
            qty: parseInt(o.dataset.qty, 10),
            price: parseFloat(o.dataset.price)
          }))
          .filter(b => !isNaN(b.qty) && !isNaN(b.price))
          .sort((a, b) => a.qty - b.qty); // sort ascending by qty

        // Find the best matching bundle (largest qty <= entered qty)
        let matched = bundles[0];
        for (let b of bundles) {
          if (b.qty <= qty) {
            matched = b;
          } else {
            break;
          }
        }

        // Calculate total
        let unitPrice = matched.price / matched.qty;
        let total = unitPrice * qty;

        if (typeof Shopify !== "undefined" && Shopify.formatMoney) {
          totalPriceEl.textContent = Shopify.formatMoney(total);
        } else {
          totalPriceEl.textContent = "$" + (total / 100).toFixed(2);
        }
      };

      ["input"].forEach(evt => {
        customInput.addEventListener(evt, handleCustomQty);
      });
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const addToCartBtn = document.querySelector(".button--add-to-cart");
    const checkoutBtn = document.querySelector(".button--checkout");

    let alreadyAdded = false; // flag to track

    async function addToCart() {
      const activeOption = document.querySelector(".quantity-option.active");
      const qtyInput = document.getElementById("custom-qty");

      let quantity = 1;
      let variantId = null;

      // If a preset bundle is active
      if (activeOption && !activeOption.classList.contains("custom-option")) {
        quantity = parseInt(activeOption.dataset.qty, 10) || 1;
        variantId = activeOption.dataset.variantid;
      } else if (qtyInput && qtyInput.value) {
        quantity = Math.max(1, parseInt(qtyInput.value, 10) || 1);

        // Look up for a matching bundle option
        const bundles = Array.from(document.querySelectorAll(".quantity-option"));
        const matched = bundles.find(b => parseInt(b.dataset.qty, 10) === quantity);

        if (matched) {
          variantId = matched.dataset.variantid;
        } else {
          variantId = bundles[0]?.dataset.variantid;
        }
      }

      if (!variantId) {
        console.error("No variant ID found");
        return false;
      }

      try {
        await fetch("/cart/add.js", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            id: variantId,
            quantity: quantity,
            properties: {
              Bundle: activeOption?.innerText.trim() || `Custom (${quantity})`
            }
          })
        });
        console.log("Added to cart:", { variantId, quantity });
        alreadyAdded = true; // mark as added
        return true;
      } catch (err) {
        console.error("Add to cart error:", err);
        return false;
      }
    }

    // Add to Cart button
    addToCartBtn.addEventListener("click", addToCart);

    // Checkout button
    checkoutBtn.addEventListener("click", async () => {
      if (!alreadyAdded) {
        const success = await addToCart();
        if (!success) return;
      }
      window.location.href = "/checkout";
    });


    const fileInputs = document.querySelectorAll(
      '.custom-file-upload + input[type="file"]'
    );
    const fileLabels = document.querySelectorAll('.custom-file-upload');
    const fileNames = document.querySelectorAll('#file-name .selected-holder');
    const defaultHolders = document.querySelectorAll('#file-name .default-holder');
    const selectedImages = document.querySelectorAll('#file-name .selected-image');
    const uploadLaters = document.querySelectorAll('.upload-later');

    uploadLaters.forEach((uploadLater, index) => {
      uploadLater.addEventListener('click', (e) => {
        e.preventDefault();
        const defaultHolder = defaultHolders[index];
        const fileNameDisplay = fileNames[index];
        const selectedImage = selectedImages[index];

        defaultHolder.style.display = "block";
        fileNameDisplay.innerHTML = "";
        selectedImage.innerHTML = ""; // clear preview
      });
    });

    fileInputs.forEach((fileInput, index) => {
      const fileLabel = fileLabels[index];
      const fileNameDisplay = fileNames[index];
      const defaultHolder = defaultHolders[index];
      const selectedImage = selectedImages[index];

      fileLabel.addEventListener('dragover', (e) => {
        e.preventDefault();
        fileLabel.classList.add('dragover');
      });

      fileLabel.addEventListener('dragleave', () => {
        fileLabel.classList.remove('dragover');
      });

      fileLabel.addEventListener('drop', (e) => {
        e.preventDefault();
        fileLabel.classList.remove('dragover');
        fileInput.files = e.dataTransfer.files;
        updateFile(fileInput, fileNameDisplay, defaultHolder, selectedImage);
      });

      fileInput.addEventListener('change', () => {
        if (fileInput.files.length > 0) {
          updateFile(fileInput, fileNameDisplay, defaultHolder, selectedImage);
        } else {
          fileInput.value = '';
          fileNameDisplay.innerHTML = '';
          selectedImage.innerHTML = '';
          defaultHolder.style.display = "block";
        }
      });
    });

    function updateFile(fileInput, fileNameDisplay, defaultHolder, selectedImage) {
      const file = fileInput.files[0];
      if (file) {
        fileNameDisplay.innerHTML = `<span>File selected:</span> ${file.name}`;
        defaultHolder.style.display = "none";

        // Show image preview if image type
        if (file.type.startsWith("image/")) {
          const reader = new FileReader();
          reader.onload = (e) => {
            selectedImage.innerHTML = `<img src="${e.target.result}" alt="Preview" style="max-width: 100%; margin:10px auto 0; border-radius:8px; max-height: 70px"/>`;
          };
          reader.readAsDataURL(file);
        } else {
          selectedImage.innerHTML = "<em>Preview not available</em>";
        }
      }
    }

    updateTotalPrice();
    document.addEventListener("shopify:section:load", function (e) {
      updateTotalPrice();
    });
  });
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.desktop_alignment.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.desktop_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.desktop_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "after",
          "label": "t:sections.main-product.settings.mobile_alignment.options__1.label"
        },
        {
          "value": "before",
          "label": "t:sections.main-product.settings.mobile_alignment.options__2.label"
        }
      ],
      "default": "before",
      "label": "t:sections.main-product.settings.mobile_alignment.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "select",
      "id": "thumbs_direction",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-product.settings.thumbs_direction.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-product.settings.thumbs_direction.options__2.label"
        }
      ],
      "default": "vertical",
      "label": "t:sections.main-product.settings.thumbs_direction.label"
    },
    {
      "type": "select",
      "id": "thumbs_aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.main-product.settings.thumbs_aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "thumbs_image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.main-product.settings.thumbs_image_fit.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom_mobile",
      "default": false,
      "label": "t:sections.main-product.settings.enable_image_zoom_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom_desktop",
      "default": true,
      "label": "t:sections.main-product.settings.enable_image_zoom_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "arrow_color_scheme",
      "default": "background-2",
      "label": "t:sections.main-product.settings.arrow_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "limit": 1,
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "{{ product.vendor }}",
          "label": "t:sections.main-product.blocks.text.name"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_info",
          "default": false,
          "label": "t:sections.main-product.blocks.price.show_tax_info.label"
        }
      ]
    },
    {
      "type": "custom_badges",
      "name": "t:sections.main-product.blocks.custom_badges.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.main-product.blocks.description.settings.text.label",
          "info": "t:sections.main-product.blocks.description.settings.text.info"
        },
        {
          "type": "checkbox",
          "id": "enable_read_more",
          "default": false,
          "label": "t:sections.main-product.blocks.description.settings.enable_read_more.label"
        },
        {
          "type": "checkbox",
          "id": "show_excerpt",
          "default": false,
          "label": "t:sections.main-product.blocks.description.settings.show_excerpt.label",
          "info": "t:sections.main-product.blocks.description.settings.show_excerpt.info"
        }
      ]
    },
    {
      "type": "tags",
      "name": "t:sections.main-product.blocks.tags.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_inventory_amount",
          "default": true,
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_amount.label"
        },
        {
          "type": "number",
          "id": "limited_stock",
          "default": 10,
          "label": "t:sections.main-product.blocks.inventory.settings.limited_stock.label",
          "info": "t:sections.main-product.blocks.inventory.settings.limited_stock.info"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "select",
          "id": "swatch_type",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.info",
          "options": [
            {
              "value": "color",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.option__1.label"
            },
            {
              "value": "variant_image",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.option__2.label"
            }
          ],
          "default": "color"
        },
        {
          "type": "select",
          "id": "variant_image_size",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.card.image_ratio_2.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.card.image_ratio_2.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.card.image_ratio_2.options__3.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.main-product.blocks.variant_picker.settings.variant_image_size.label"
        },
        {
          "type": "checkbox",
          "id": "unavailable_options_clickable",
          "default": false,
          "label": "t:sections.main-product.blocks.variant_picker.settings.unavailable_options_clickable.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity.label"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "default": "Share",
          "label": "t:sections.main-product.blocks.share.settings.share_label.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_facebook",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_facebook.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_twitter",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_twitter.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_pinterest",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_pinterest.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_copy",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_copy.label"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "dropdown_information",
      "name": "t:sections.main-product.blocks.dropdown_information.name",
      "limit": 8,
      "settings": [
        {
          "type": "checkbox",
          "id": "characteristics",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.label",
          "info": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.info"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.all.heading.label",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.heading.default"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.text.label",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.description.default"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "button_show",
          "default": false,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.default_open.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "limit": 2,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label",
          "default": "t:sections.main-product.blocks.popup.settings.link_label.default"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.main-product.blocks.popup.settings.heading.label",
          "default": "t:sections.main-product.blocks.popup.settings.heading.default"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.main-product.blocks.popup.settings.text.label",
          "default": "t:sections.main-product.blocks.popup.settings.text.default"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.main-product.blocks.popup.settings.image.label"
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "default": "center",
          "label": "t:sections.main-product.blocks.popup.settings.alignment.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "product_countdown",
      "name": "t:sections.main-product.blocks.product_countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.product_countdown.settings.paragraph__1.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-1",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "inline_richtext",
          "id": "countdown_promo_text",
          "default": "t:sections.main-product.blocks.product_countdown.settings.countdown_promo_text.default",
          "label": "t:sections.main-product.blocks.product_countdown.settings.countdown_promo_text.label"
        },
        {
          "type": "checkbox",
          "id": "show_on_mobile",
          "default": true,
          "label": "t:sections.main-product.blocks.product_countdown.settings.show_on_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.product_countdown.settings.countdown_header.content"
        },
        {
          "type": "checkbox",
          "id": "show_countdown",
          "default": true,
          "label": "t:sections.main-product.blocks.product_countdown.settings.show_countdown.label"
        },
        {
          "type": "text",
          "id": "date_picker",
          "default": "2025-12-01",
          "info": "YYYY-MM-DD",
          "label": "t:sections.main-product.blocks.product_countdown.settings.date_picker.label"
        },
        {
          "type": "text",
          "id": "time_picker",
          "default": "00:00",
          "info": "hh:mm",
          "label": "t:sections.main-product.blocks.product_countdown.settings.time_picker.label"
        },
        {
          "type": "select",
          "id": "completed_countdown",
          "options": [
            {
              "value": "hide_section",
              "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.options__1.label"
            },
            {
              "value": "show_text",
              "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.options__2.label"
            }
          ],
          "default": "show_text",
          "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.label"
        },
        {
          "type": "inline_richtext",
          "id": "countdown_final_text",
          "label": "t:sections.main-product.blocks.product_countdown.settings.countdown_final_text.label",
          "default": "t:sections.main-product.blocks.product_countdown.settings.countdown_final_text.default"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.product_countdown.settings.button_header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.main-product.blocks.product_countdown.settings.button_label.label",
          "default": "t:sections.main-product.blocks.product_countdown.settings.button_label.default"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        }
      ]
    },
    {
      "type": "additional_service",
      "name": "t:sections.main-product.blocks.additional_service.name",
      "limit": 3,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_2.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_3.content"
        },
        {
          "type": "product",
          "id": "service_product",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_product.label",
          "info": "t:sections.main-product.blocks.additional_service.settings.service_product.info"
        },
        {
          "type": "text",
          "id": "service_checkbox_label",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_checkbox_label.label"
        },
        {
          "type": "checkbox",
          "id": "service_product_price",
          "default": true,
          "label": "t:sections.main-product.blocks.additional_service.settings.service_product_price.label"
        },
        {
          "type": "inline_richtext",
          "id": "service_description",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_description.label"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary.settings.paragraph__1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary.settings.paragraph__2.content"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.main-product.blocks.complementary.settings.heading.label",
          "default": "t:sections.main-product.blocks.complementary.settings.heading.default"
        },
        {
          "type": "range",
          "id": "products_limit",
          "min": 2,
          "max": 10,
          "step": 1,
          "default": 2,
          "label": "t:sections.product-recommendations.settings.products_limit.label"
        },
        {
          "type": "select",
          "id": "image_fit",
          "label": "t:sections.all.card.image_fit.label",
          "options": [
            {
              "value": "contain",
              "label": "t:sections.all.card.image_fit.options__1.label"
            },
            {
              "value": "cover",
              "label": "t:sections.all.card.image_fit.options__2.label"
            }
          ],
          "default": "cover"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "t:sections.all.card.show_vendor.label"
        }
      ]
    }
  ]
}
{% endschema %}
