{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- for block in section.blocks -%}
  {%- if block.type == 'complementary' -%}
    {{ 'component-card-complementary.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- if block.type == 'product_countdown' -%}
    {{ 'component-product-countdown.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- endfor -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}


<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
  class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} background"
>
  <form method="post" action="{{ routes.cart_add_url }}" enctype="multipart/form-data" id="custom-add-to-cart-form">
  <div class="product {% if product.media.size > 0 %}row{% else %}product--no-media{% endif %} container">
    <div class="product__outer {% if section.settings.desktop_alignment == 'right' %} product__outer--desktop-order {% endif %} {% if section.settings.mobile_alignment == 'after' %} product__outer--mobile-order{% endif %}">
      {%- if settings.show_breadcrumbs -%}
        <nav class="breadcrumb breadcrumb__mobile body-small" role="navigation" aria-label="breadcrumbs">
          <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}">
            {{- 'general.breadcrumbs.home' | t -}}
          </a>
          <div class="breadcrumb__delimiter"></div>
          {%- if product.collections[0] -%}
            <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>
            <div class="breadcrumb__delimiter"></div>
          {%- else -%}
            <a href="{{ routes.all_products_collection_url }}">{{ 'products.product.shop' | t }}</a>
            <div class="breadcrumb__delimiter"></div>
          {%- endif -%}
          <span>{{ product.title }}</span>
        </nav>
      {%- endif -%}
      <div
        class="product__main"
        data-section="main-{{ section.id }}"
        data-image-type="{{ section.settings.aspect_ratio }}"
      >
        {%- case section.settings.aspect_ratio -%}
          {%- when 'landscape' -%}
            {%- assign ratio = '4/3' -%}
          {%- when 'portrait' -%}
            {%- assign ratio = '79/100' -%}
          {%- when 'square' -%}
            {%- assign ratio = '1/1' -%}
          {%- else -%}
            {%- assign ratio = '1/1' -%}
        {%- endcase -%}

        {% liquid
          assign aspect_ratio = ratio | split: '/'
          assign settings_aspect_ratio = aspect_ratio[0] | append: '.0' | divided_by: aspect_ratio[1]
          assign main_padding_bottom = 100 | divided_by: settings_aspect_ratio | round: 2
        %}
        {%- if product.media.size > 0 -%}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list{% if product.media.size > 1 %} js-media-list swiper{% endif %} no-js-hidden">
                <div class="product__media-list-container swiper-wrapper">
                  {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}

                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}

                    <div
                      class="product__media-item active swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        media_fit: section.settings.image_fit,
                        loop: section.settings.enable_video_looping,
                        video_autoplay: section.settings.enable_video_autoplay,
                        enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                        enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                        settings_aspect_ratio: settings_aspect_ratio
                      %}
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item {% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %}active{% endif %} swiper-slide {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          media_fit: section.settings.image_fit,
                          loop: section.settings.enable_video_looping,
                          video_autoplay: section.settings.enable_video_autoplay,
                          enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                          enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                          settings_aspect_ratio: settings_aspect_ratio
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>

              {% if product.media.size > 1 %}
                <div class="product__slider-nav no-js-hidden color-{{ section.settings.arrow_color_scheme }}">
                  <div class="swiper-button-prev product__slider-nav-prev focus-inset gallery-button">
                    <div class="product__slider-nav-icons-container product__slider-nav-icons-container--prev">
                      {% render 'icon-caret-left' %}
                      {% render 'icon-caret-left' %}
                    </div>
                  </div>
                  <div class="swiper-button-next product__slider-nav-next focus-inset gallery-button">
                    <div class="product__slider-nav-icons-container product__slider-nav-icons-container--next">
                      {% render 'icon-caret-right' %}
                      {% render 'icon-caret-right' %}
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="product__media-grid-noscript js-hidden">
                <div class="product__media-list">
                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                    <div
                      class="product__media-item {% if section.settings.image_fit == 'contain' %}product__media-item--contain{% endif %}"
                      data-media-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      {% render 'product-thumbnail',
                        product_card_product: product,
                        media: featured_media,
                        position: 'featured',
                        modal_id: section.id,
                        lazy_load: false,
                        media_fit: section.settings.image_fit,
                        loop: section.settings.enable_video_looping,
                        video_autoplay: section.settings.enable_video_autoplay,
                        enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                        enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                        settings_aspect_ratio: settings_aspect_ratio
                      %}
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-id="{{ section.id }}-{{ media.id }}"
                      >
                        {% render 'product-thumbnail',
                          media: media,
                          position: forloop.index,
                          modal_id: section.id,
                          lazy_load: false,
                          media_fit: section.settings.image_fit,
                          loop: section.settings.enable_video_looping,
                          video_autoplay: section.settings.enable_video_autoplay,
                          enable_image_zoom_mobile: section.settings.enable_image_zoom_mobile,
                          enable_image_zoom_desktop: section.settings.enable_image_zoom_desktop,
                          settings_aspect_ratio: settings_aspect_ratio
                        %}
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="product__pagination swiper-pagination"></div>
          </div>
        {%- else -%}
          <div class="product__media-wrapper">
            <div class="product__media-list-wrapper">
              <div class="product__media-list">
                <div class="product__media-item">
                  <div class="product__media media" style="padding-bottom: {{ main_padding_bottom }}%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% comment %} render thumbnails {% endcomment %}
          {%- if product.media.size > 1 -%}
            {%- case section.settings.thumbs_aspect_ratio -%}
              {%- when 'landscape' -%}
                {%- assign thumbs_ratio = '4/3' -%}
                {%- assign thumbs_height = '48' -%}
              {%- when 'portrait' -%}
                {%- assign thumbs_ratio = '79/100' -%}
                {%- assign thumbs_height = '80' -%}
              {%- when 'square' -%}
                {%- assign thumbs_ratio = '1/1' -%}
                {%- assign thumbs_height = '145' -%}
              {%- else -%}
                {%- assign thumbs_ratio = '1/1' -%}
                {%- assign thumbs_height = '145' -%}
            {%- endcase -%}

            {% liquid
              assign thumbs_aspect_ratio = thumbs_ratio | split: '/'
              assign thumbs_temp = thumbs_aspect_ratio[0] | append: '.0'
              assign settings_thumbs_aspect_ratio = thumbs_aspect_ratio[0] | append: '.0' | divided_by: thumbs_aspect_ratio[1]
              assign thumbs_padding_bottom = thumbs_aspect_ratio[1] | divided_by: thumbs_temp | times: 100 | round: 2
            -%}

            <div class="product__media-sublist-outer no-js-hidden" style="--thumbs-height: {{ thumbs_height }}px;">
              <div
                class="product__media-sublist js-media-sublist swiper"
                data-thumbs-direction="{{ section.settings.thumbs_direction }}"
              >
                <div class="product__media-sublist-container swiper-wrapper">
                  {%- if product.selected_or_first_available_variant.featured_media != null -%}
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}

                    <div
                      class="product__media-subitem swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                      data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
                    >
                      <div class="product__media" style="padding-bottom: {{ thumbs_padding_bottom }}%;">
                        {%- capture style -%}
                          object-position: {{ featured_media.presentation.focal_point }};
                          object-fit: {{ section.settings.thumbs_image_fit | default: 'cover' }};
                        {%- endcapture -%}
                        {%- liquid
                          assign thumbs_calc_ratio = 1
                          if section.settings.thumbs_image_fit == 'cover' and featured_media.preview_image.aspect_ratio > settings_thumbs_aspect_ratio
                            assign thumbs_calc_ratio = featured_media.preview_image.aspect_ratio | divided_by: settings_thumbs_aspect_ratio | round: 2
                          endif
                        -%}
                        {%- capture subitem_sizes -%}
                          calc(64px * {{ thumbs_calc_ratio }})
                        {%- endcapture -%}
                        {{
                          featured_media.preview_image
                          | image_url: width: featured_media.preview_image.width
                          | image_tag: loading: 'lazy', sizes: subitem_sizes, widths: '64, 128, 192', style: style
                        }}
                      </div>
                    </div>
                  {%- endif -%}

                  {%- for media in product.media -%}
                    {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                      <div
                        class="product__media-subitem swiper-slide {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
                        data-media-sub-id="{{ section.id }}-{{ media.id }}"
                      >
                        <div class="product__media" style="padding-bottom: {{ thumbs_padding_bottom }}%;">
                          {%- capture style -%}
                            object-position: {{ media.presentation.focal_point }};
                            object-fit: {{ section.settings.thumbs_image_fit | default: 'cover' }};
                          {%- endcapture -%}
                          {%- liquid
                            assign thumbs_calc_ratio = 1
                            if section.settings.thumbs_image_fit == 'cover' and media.preview_image.aspect_ratio > settings_thumbs_aspect_ratio
                              assign thumbs_calc_ratio = media.preview_image.aspect_ratio | divided_by: settings_thumbs_aspect_ratio | round: 2
                            endif
                          -%}
                          {%- capture subitem_sizes -%}
                            calc(64px * {{ thumbs_calc_ratio }})
                          {%- endcapture -%}
                          {{
                            media.preview_image
                            | image_url: width: media.preview_image.width
                            | image_tag: loading: 'lazy', sizes: subitem_sizes, widths: '64, 128, 192', style: style
                          }}
                        </div>
                      </div>
                    {%- endunless -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          {%- endif -%}
      </div>
      <div class="product__left">
        <div class="product-box product-description">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="product__text subtitle" {{ block.shopify_attributes }}>
                  {%- if block.settings.text != blank -%}
                    {%- if product.vendor == block.settings.text and settings.enable_vendor_link -%}
                      {{ block.settings.text | link_to_vendor: class: 'focus-inset' | strip_html }}
                    {%- else -%}
                      {{ block.settings.text | strip_html }}
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- when 'title' -%}
                <div class="product__title__wrapper">
                  <h1 class="product__title h3" {{ block.shopify_attributes }}>
                    {{- product.title | escape -}}
                  </h1>
                </div>
              {%- when 'tags' -%}
                {%- if product.tags != blank -%}
                  <ul class="product-tags product__tags list-unstyled" {{ block.shopify_attributes }}>
                    {% for tag in product.tags %}
                      <li class="product-tags__tag">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                {%- endif -%}


              {%- when 'description' -%}
                {% liquid
                  assign has_excerpt = false
                  if block.settings.show_excerpt and product.metafields.custom.excerpt.value != blank
                    assign has_excerpt = true
                  endif
                %}
                {%- if product.description != blank or block.settings.description != blank or has_excerpt -%}
                  <div class="product__description-wrapper" {{ block.shopify_attributes }}>
                    {% comment %} EXCERPT FROM METAFIELD {% endcomment %}
                    {%- if has_excerpt -%}
                      <div class="product__description-excerpt">
                        {{- product.metafields.custom.excerpt.value -}}
                      </div>
                    {%- endif -%}
                    {%- if product.description != blank or block.settings.description != blank -%}
                      {%- comment -%} START OF OPENING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {% liquid
                        assign has_text_in_descr = false
                        assign format_descr = blank
                        if block.settings.description != blank
                          assign format_descr = block.settings.description | strip_html
                        elsif product.description != blank
                          assign format_descr = product.description | strip_html
                        endif
                        if format_descr != blank
                          assign has_text_in_descr = true
                        endif
                      %}
                      {%- if block.settings.enable_read_more and has_text_in_descr -%}
                        <div class="about">
                          <div class="about__accordion-item">
                            {% if has_excerpt == false %}
                              <button
                                class="about__accordion-toggle button--unstyled"
                                area-label="toggle"
                              >
                                <span class="about__accordion-toggle-text h5">
                                  <span class="text-show">{{- 'products.product.show_description' | t -}}</span>
                                  <span class="text-hide">{{- 'products.product.hide_description' | t -}}</span>
                                </span>
                                <div class="about__accordion-toggle-icon">
                                  {% render 'icon-plus-dropdown' %}
                                  {% render 'icon-minus-dropdown' %}
                                </div>
                              </button>
                            {% endif %}

                            <div
                              class="about__accordion-description{% if has_excerpt %} about__accordion-description--pb{% else %} about__accordion-description--pt{% endif %}"
                            >
                      {%- endif -%}
                      {%- comment -%} END OF OPENING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {%- comment -%} DESCRIPTION FROM PRODUCT OR OVERWRITE {%- endcomment -%}
                      <div class="product__description rte">
                        {%- if block.settings.description != blank -%}
                          {{- block.settings.description | escape -}}
                        {%- else -%}
                          {{- product.description -}}
                        {%- endif -%}

                        {% if product.metafields.custom.features_key != blank %}
                          <ul class="product-features">
                          {% for feature in product.metafields.custom.features_key.value %}
                            <li class="product-feature__item">
                              {{
                                feature.icon
                                | image_url : width: 24
                                | image_tag:
                                  width: 24,
                                  height: 24,
                                  class: 'product-feature__icon'
                              }}
                              {{ feature.title }}
                            </li>
                          {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                      {%- comment -%} START OF CLOSEING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                      {%- if block.settings.enable_read_more and has_text_in_descr -%}
                        </div>
                        {% if has_excerpt %}
                          <button
                            class="about__accordion-toggle button--unstyled"
                            area-label="toggle"
                          >
                            <span class="about__accordion-toggle-text">
                              <span class="text-show">{{- 'products.product.show_more' | t -}}</span>
                              <span class="text-hide">{{- 'products.product.show_less' | t -}}</span>
                            </span>
                            <div class="about__accordion-toggle-icon">
                              {% render 'icon-plus-dropdown' %}
                              {% render 'icon-minus-dropdown' %}
                            </div>
                          </button>
                        {% endif %}
                        </div>
                        </div>
                      {%- endif -%}
                      {%- comment -%} END OF CLOSEING TAGS FOR DESCRIPTION READ MORE BUTTON {%- endcomment -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
        <div id="ProductInfo-{{ section.id }}" data-section="{{ section.id }}" class="product__info-container">
        {% if product.metafields.custom.bundle_options != blank %}
          <div class="product-box quantity-box">
            <div class="box-title"><span>Select a quantity</span></div>
            <div class="box-content quantity-options">
              {% for bundle in product.metafields.custom.bundle_options.value %}
                {% assign matched_variant = null %}
                {% for v in product.variants %}
                  {% if v.title == bundle.name %}
                    {% assign matched_variant = v %}
                  {% endif %}
                {% endfor %}
                <div class="quantity-option {% if bundle.hidden_on_front == true %} hidden {% endif %}"
                    data-qty="{{ bundle.quantity }}"
                    data-bundleqty="1"
                    data-price="{{ bundle.price }}"
                    data-unitprice="{{ bundle.price | divided_by: bundle.quantity | money }}"
                    data-saveoff="{{ bundle.discount_text }}"
                    data-variantid="{{ matched_variant.id }}">
                  <div class="qty-lablel">{{ bundle.name }}</div>
                  <div class="option-meta">
                    <div class="bundle-price">
                      {{ bundle.price | money }}
                    </div>
                  {% comment %}
                  {% if bundle.price != blank and bundle.quantity != blank %}
                    <div class="bundle-base-price">
                      {{ bundle.price | divided_by: bundle.quantity | money }}
                    </div>
                  {% endif %}
                  {% endcomment %}
                  {% if bundle.discount_text != blank %}
                    <div class="save-off">Save {{ bundle.discount_text }}</div>
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="custom-option">
                <div class="custom-qty">
                  <input type="number" class="qty" id="custom-qty" placeholder="Custom" min="1"/>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <div class="total-label">Total:</div><div class="total-price">0</div>
            </div>
          </div>
        {% endif %}
        </div> <!-- End ProductInfo -->
      </div>
    </div>

    <div class="process-upload">
      <div class="customise-box">
        <div class="left-side">
          <div class="form-row form-customize">
            <label for="personalization">Additional Instructions (Optional)</label>
            <textarea
              id="personalization" class="personalization-text"
              name="properties[Personalization]"
              placeholder="Enter any special requests or instructions here..."></textarea>
          </div>
        </div>

        <div class="right-side">
          <div class="product-upload-field">
            <div class="selected-image"></div>
            <label for="watermark-image-input" class="custom-file-upload">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="upload-icon">
                <path d="M13.9992 31.9991C12.0292 32.0013 10.1277 31.2765 8.65891 29.9637C7.19014 28.6509 6.2574 26.8423 6.03939 24.8844C5.82138 22.9265 6.33343 20.9571 7.47744 19.3533C8.62145 17.7495 10.317 16.6243 12.2392 16.1931C11.683 13.5993 12.18 10.8907 13.6209 8.66338C15.0617 6.43601 17.3284 4.87224 19.9222 4.31608C22.516 3.75992 25.2245 4.25693 27.4519 5.69777C29.6792 7.13861 31.243 9.40526 31.7992 11.9991H31.9992C34.4791 11.9966 36.8714 12.9156 38.7118 14.5778C40.5522 16.24 41.7094 18.5267 41.9586 20.9941C42.2078 23.4614 41.5314 25.9334 40.0605 27.93C38.5897 29.9267 36.4295 31.3056 33.9992 31.7991M29.9992 25.9991L23.9992 19.9991M23.9992 19.9991L17.9992 25.9991M23.9992 19.9991V43.9991" stroke="#9CA3AF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

              <p id="file-name">
                <span class="default-holder">
                  <strong>Drag or click to upload your file All formats supported</strong><br>
                  Max file size: 25MB | 1 file per order
                </span>

                <div class="file-info">
                  <div class="file-title">
                    <span class="file-name-text"></span>

                    <div class="file-actions">
                      <button type="button" class="file-replace"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.235 3.0326C12.7883 2.90003 14.3494 3.17324 15.7654 3.82546C17.1813 4.47767 18.4036 5.48653 19.3125 6.75321V4.96884C19.3125 4.74505 19.4014 4.53043 19.5596 4.37219C19.7179 4.21394 19.9325 4.12504 20.1562 4.12504C20.38 4.12504 20.5946 4.21394 20.7529 4.37219C20.9111 4.53043 21 4.74505 21 4.96884V9.75039H16.2188C15.995 9.75039 15.7804 9.66149 15.6221 9.50325C15.4639 9.345 15.375 9.13038 15.375 8.90659C15.375 8.6828 15.4639 8.46817 15.6221 8.30993C15.7804 8.15169 15.995 8.06279 16.2188 8.06279H18.1616C17.3923 6.85886 16.2871 5.90669 14.9826 5.3239C13.6782 4.74112 12.2316 4.55325 10.8215 4.7835C9.41151 5.01376 8.09981 5.65205 7.04847 6.61952C5.99714 7.587 5.25222 8.84128 4.90575 10.2274C4.88019 10.3363 4.83325 10.439 4.76764 10.5296C4.70203 10.6202 4.61907 10.6968 4.52358 10.755C4.42809 10.8133 4.32198 10.8519 4.21142 10.8688C4.10086 10.8856 3.98805 10.8803 3.87955 10.8532C3.77106 10.826 3.66904 10.7776 3.57944 10.7107C3.48983 10.6437 3.41442 10.5597 3.3576 10.4633C3.30077 10.367 3.26367 10.2603 3.24844 10.1495C3.2332 10.0387 3.24015 9.92599 3.26888 9.8179C3.72399 7.99801 4.73633 6.36582 6.16439 5.14947C7.59245 3.93312 9.36487 3.19341 11.2339 3.03372L11.235 3.0326ZM7.41 19.7421C8.61598 20.457 9.97228 20.8802 11.3708 20.9781C12.7693 21.0759 14.1713 20.8457 15.465 20.3057C16.7588 19.7658 17.9086 18.9311 18.8226 17.8681C19.7367 16.8051 20.3899 15.5433 20.73 14.1832C20.7806 13.9674 20.7444 13.7403 20.629 13.5511C20.5136 13.3618 20.3284 13.2256 20.1133 13.1718C19.8983 13.118 19.6708 13.151 19.4799 13.2636C19.289 13.3762 19.15 13.5594 19.0931 13.7736C18.7465 15.1595 18.0015 16.4135 16.9503 17.3807C15.899 18.3479 14.5875 18.986 13.1777 19.2163C11.768 19.4465 10.3216 19.2588 9.0173 18.6762C7.713 18.0937 6.60786 17.1418 5.83838 15.9383H7.78125C8.00503 15.9383 8.21964 15.8494 8.37787 15.6911C8.53611 15.5329 8.625 15.3183 8.625 15.0945C8.625 14.8707 8.53611 14.6561 8.37787 14.4978C8.21964 14.3396 8.00503 14.2507 7.78125 14.2507H3V19.0322C3 19.256 3.08889 19.4706 3.24713 19.6289C3.40536 19.7871 3.61997 19.876 3.84375 19.876C4.06753 19.876 4.28214 19.7871 4.44037 19.6289C4.59861 19.4706 4.6875 19.256 4.6875 19.0322V17.2479C5.41288 18.2585 6.33988 19.1078 7.41 19.7421Z" fill="#9CA3AF" stroke="#9CA3AF" stroke-width="0.5"/>
                        </svg>
                      </button>
                      <button type="button" class="file-delete"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 21C6.45 21 5.97934 20.8043 5.588 20.413C5.19667 20.0217 5.00067 19.5507 5 19V6C4.71667 6 4.47934 5.904 4.288 5.712C4.09667 5.52 4.00067 5.28267 4 5C3.99934 4.71733 4.09534 4.48 4.288 4.288C4.48067 4.096 4.718 4 5 4H9C9 3.71667 9.096 3.47933 9.288 3.288C9.48 3.09667 9.71734 3.00067 10 3H14C14.2833 3 14.521 3.096 14.713 3.288C14.905 3.48 15.0007 3.71733 15 4H19C19.2833 4 19.521 4.096 19.713 4.288C19.905 4.48 20.0007 4.71733 20 5C19.9993 5.28267 19.9033 5.52033 19.712 5.713C19.5207 5.90567 19.2833 6.00133 19 6V19C19 19.55 18.8043 20.021 18.413 20.413C18.0217 20.805 17.5507 21.0007 17 21H7ZM17 6H7V19H17V6ZM10.713 16.713C10.9043 16.521 11 16.2833 11 16V9C11 8.71667 10.904 8.47933 10.712 8.288C10.52 8.09667 10.2827 8.00067 10 8C9.71734 7.99933 9.48 8.09533 9.288 8.288C9.096 8.48067 9 8.718 9 9V16C9 16.2833 9.096 16.521 9.288 16.713C9.48 16.905 9.71734 17.0007 10 17C10.2827 16.9993 10.5203 16.9043 10.713 16.713ZM14.713 16.712C14.9043 16.5213 15 16.284 15 16V9C15 8.71667 14.904 8.47933 14.712 8.288C14.52 8.09667 14.2827 8.00067 14 8C13.7173 7.99933 13.48 8.09533 13.288 8.288C13.096 8.48067 13 8.718 13 9V16C13 16.2833 13.096 16.521 13.288 16.713C13.48 16.905 13.7173 17.0007 14 17C14.2827 16.9993 14.5203 16.9033 14.713 16.712Z" fill="#F97183"/>
                        </svg>
                      </button>
                    </div>
                  </div>

                  <div class="file-meta"></div>

                  <div class="file-success">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.16166 11.3625L13.5179 5.00625C13.6679 4.85625 13.8429 4.78125 14.0429 4.78125C14.2429 4.78125 14.4179 4.85625 14.5679 5.00625C14.7179 5.15625 14.7929 5.3345 14.7929 5.541C14.7929 5.7475 14.7179 5.9255 14.5679 6.075L7.68666 12.975C7.53666 13.125 7.36166 13.2 7.16166 13.2C6.96166 13.2 6.78666 13.125 6.63666 12.975L3.41166 9.75C3.26166 9.6 3.18966 9.422 3.19566 9.216C3.20166 9.01 3.27991 8.83175 3.43041 8.68125C3.58091 8.53075 3.75916 8.45575 3.96516 8.45625C4.17116 8.45675 4.34916 8.53175 4.49916 8.68125L7.16166 11.3625Z" fill="#9CA3AF"/>
                      </svg> File uploaded successfully!
                  </div>
                </div>
              </p>
            </label>
            <input id="watermark-image-input" name="properties[Uploaded File]" type="file" accept=".svg,.png,.jpg,.jpeg"/>
          </div>
        </div>
      </div>
      <input type="hidden" id="product-id" name="id" value="{{ product.variants.first.id }}">
      {% comment %} <input type="hidden" name="properties[Proofing]" id="proofing-option" value=""> {% endcomment %}
      {% comment %} <input type="hidden" name="properties[Upload Later]" id="upload-option" value=""> {% endcomment %}
      {% render 'button',
        btn_link: 'javascript:;',
        btn_label: 'Upload Artwork to Continue.',
        btn_style: 'primary',
        class: 'button--waiting-upload'
      %}
      <div class="cart-actions">
        {% render 'button',
          btn_link: 'javascript:;',
          btn_label: 'Add to cart',
          btn_style: 'primary',
          class: 'button--add-to-cart'
        %}
        {% render 'button',
          btn_link: 'javascript:;',
          btn_label: 'Checkout',
          btn_style: 'secondary',
          class: 'button--checkout'
        %}
      </div>
      <span class="upload-note">Items will be added to your cart for review before checkout</span>
    </div>
  </div>

  </form>
  {% render 'feature-keys' %}

  <div class="product-accordion">
    <h2 class="accordion-title">Frequently <strong>Asked Questions</strong></h2>
    <p class="accordion-description">Everything you need to know about custom golf balls</p>
    {% for item in product.metafields.custom.faqs.value %}
      <div class="accordion-item active">
        <button class="accordion-header" type="button">
          <span>{{ item.title }}</span>
          <span class="accordion-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 15L12 8L5 15" stroke="#2563EB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </button>

        <div class="accordion-content">
          <div class="accordion-inner">
            {{ item.content | metafield_tag }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div
      class="product-media-modal__dialog"
      role="dialog"
      aria-label="{{ 'products.modal.label' | t }}"
      aria-modal="true"
      tabindex="-1"
    >
      {%- if section.id -%}
        <button
          id="ModalClose-{{ section.id }}"
          type="button"
          class="product-media-modal__toggle modal-close-button focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {{ 'accessibility.close' | t }}
        </button>
      {%- endif -%}

      <div
        class="product-media-modal__content swiper js-popup-slider"
        role="document"
        aria-label="{{ 'products.modal.label' | t }}"
        tabindex="0"
      >
        <div class="swiper-wrapper">
          {%- for media in product.media -%}
            <div
              class="swiper-slide product-media-modal__item"
              data-media-modal-id="{{ section.id }}-{{ media.id }}"
            >
              {%- if media.media_type == 'image' -%}
                <div class="swiper-zoom-container">
                  {{
                    media.preview_image
                    | image_url: width: media.preview_image.width
                    | image_tag:
                      loading: 'lazy',
                      widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                      data-media-id: media.id
                  }}
                </div>
              {%- else -%}
                {%- comment -%} prettier-ignore-start {%- endcomment -%}
                {%- if media.media_type == 'model' -%}
                  <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                    <product-model class="deferred-media media">
                      <button
                        id="Deferred-Poster-Modal-{{ media.id }}"
                        class="deferred-media__poster focus-inset"
                        type="button"
                      >
                        <span class="deferred-media__poster-button motion-reduce">
                          {%- if media.media_type == 'model' -%}
                            {%- render 'icon-3d-model' -%}
                          {%- else -%}
                            {%- render 'icon-play' -%}
                          {%- endif -%}
                        </span>
                        {{
                          media.preview_image
                          | image_url: width: 3600
                          | image_tag:
                            loading: 'lazy',
                            widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                            data-media-id: media.id
                        }}
                      </button>
                      <template>
                        {%- case media.media_type -%}
                          {%- when 'external_video' -%}
                            {%- assign video_class = 'js-' | append: media.host -%}
                            {%- if media.host == 'youtube' -%}
                              {{
                                media
                                | external_video_url:
                                  autoplay: true,
                                  loop: section.settings.enable_video_looping,
                                  playlist: media.external_id
                                | external_video_tag: class: video_class, loading: 'lazy'
                              }}
                            {%- else -%}
                              {{
                                media
                                | external_video_url: autoplay: true, loop: section.settings.enable_video_looping
                                | external_video_tag: class: video_class, loading: 'lazy'
                              }}
                            {%- endif -%}
                          {%- when 'video' -%}
                            {{
                              media
                              | media_tag:
                                image_size: '2048x',
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                controls: true,
                                preload: 'none'
                            }}
                          {%- when 'model' -%}
                            {{ media | media_tag: image_size: '2048x', toggleable: true }}
                        {%- endcase -%}
                      </template>
                    </product-model>
                    <button
                      class="button button--tertiary product__xr-button focus-inset"
                      type="button"
                      aria-label="{{ 'products.product.xr_button_label' | t }}"
                      data-shopify-xr
                      data-shopify-model3d-id="{{ media.id }}"
                      data-shopify-title="title"
                      data-shopify-xr-hidden
                    >
                      {% render 'icon-3d-model' %}
                      {{ 'products.product.xr_button' | t }}
                    </button>
                  </div>
                {%- else -%}
                  <deferred-media
                    class="deferred-media media"
                    data-media-id="{{ media.id }}"
                    data-autoplay="{{ section.settings.enable_video_autoplay }}"
                  >
                    <button
                      id="Deferred-Poster-Modal-{{ media.id }}"
                      class="deferred-media__poster focus-inset"
                      type="button"
                    >
                      <span class="deferred-media__poster-button motion-reduce">
                        {%- if media.media_type == 'model' -%}
                          {%- render 'icon-3d-model' -%}
                        {%- else -%}
                          {%- render 'icon-play' -%}
                        {%- endif -%}
                      </span>
                      {{
                        media.preview_image
                        | image_url: width: 3600
                        | image_tag:
                          loading: 'lazy',
                          widths: '550, 1100, 1445, 1680, 1750, 1920, 2048, 2200, 2890, 3000, 3200, 3400, 3600, 3800, 4096',
                          data-media-id: media.id
                      }}
                    </button>
                    <template>
                      {%- case media.media_type -%}
                        {%- when 'external_video' -%}
                          {%- assign video_class = 'js-' | append: media.host -%}
                          {%- if media.host == 'youtube' -%}
                            {{
                              media
                              | external_video_url:
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                playlist: media.external_id,
                                mute: section.settings.enable_video_autoplay
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- else -%}
                            {{
                              media
                              | external_video_url:
                                autoplay: true,
                                loop: section.settings.enable_video_looping,
                                muted: section.settings.enable_video_autoplay
                              | external_video_tag: class: video_class, loading: 'lazy'
                            }}
                          {%- endif -%}
                        {%- when 'video' -%}
                          {{
                            media
                            | media_tag:
                              image_size: '2048x',
                              autoplay: true,
                              loop: section.settings.enable_video_looping,
                              muted: section.settings.enable_video_autoplay,
                              controls: true,
                              preload: 'none'
                          }}
                        {%- when 'model' -%}
                          {{ media | media_tag: image_size: '2048x', toggleable: true }}
                      {%- endcase -%}
                    </template>
                  </deferred-media>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        <div class="container product__pagination-wrapper">
          <div class="product__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>

    <div class="container product__slider-nav product-media-modal__slider-nav no-js-hidden color-{{ section.settings.arrow_color_scheme }}">
      <div class="swiper-button-prev product__slider-nav-prev product-media-modal__slider-nav-prev focus-inset">
        <div class="product__slider-nav-icons-container product__slider-nav-icons-container--prev">
          {% render 'icon-caret-left' %}
          {% render 'icon-caret-left' %}
        </div>
      </div>
      <div class="swiper-button-next product__slider-nav-next product-media-modal__slider-nav-next focus-inset">
        <div class="product__slider-nav-icons-container product__slider-nav-icons-container--next">
          {% render 'icon-caret-right' %}
          {% render 'icon-caret-right' %}
        </div>
      </div>
    </div>
  </product-modal>

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const fileInput = document.getElementById('watermark-image-input');
      const waitingBtn = document.querySelector('.button--waiting-upload');
      const cartActions = document.querySelector('.cart-actions');
      const uploadNote = document.querySelector('.upload-note');

      function toggleButtons() {
        if (fileInput.files.length > 0) {
          waitingBtn.style.display = 'none';
          cartActions.style.display = 'flex';
          uploadNote.style.display = 'block';
        } else {
          waitingBtn.style.display = 'flex';
          cartActions.style.display = 'none';
          uploadNote.style.display = 'none';
        }
      }

      // Initial check
      toggleButtons();

      // Listen when file changes
      fileInput.addEventListener('change', toggleButtons);

      document.querySelector(".file-delete").addEventListener("click", function () {
        const fileInput = document.getElementById("watermark-image-input");
        const defaultHolder = document.querySelector(".default-holder");
        const fileInfo = document.querySelector(".file-info");
        const selectedImage = document.querySelector(".selected-image");

        const waitingBtn = document.querySelector(".button--waiting-upload");
        const cartActions = document.querySelector(".cart-actions");

        fileInput.value = "";
        selectedImage.innerHTML = "";
        fileInfo.style.display = "none";
        defaultHolder.style.display = "block";

          // Reset cart state
        if (waitingBtn) waitingBtn.style.display = "flex";
        if (cartActions) cartActions.style.display = "none";
      });

      document.querySelector(".file-replace").addEventListener("click", function () {
        document.getElementById("watermark-image-input").click();
      });

      document.querySelectorAll(".accordion-header").forEach(button => {
        button.addEventListener("click", function () {
          const item = this.closest(".accordion-item");
          item.classList.toggle("active");
        });
      });
    });

    (function () {
      const parentElement = document.currentScript.parentElement;
      const isQuickView = parentElement.closest('quick-add-modal');

      if ('{{ settings.recently_save_quick_view }}' == 'false' && isQuickView) {
        return;
      }

      const STORAGE_KEY = '__sf_theme_recently';
      const EXPIRATION_DAYS = {{ settings.recently_product_record_lifetime }};
      const productId = '{{ product.id }}';
      const dateNow = Date.now();

      let recentProducts;
      try {
        recentProducts = JSON.parse(localStorage.getItem(STORAGE_KEY)) || [];
      } catch (error) {
        recentProducts = [];
      }

      const expirationTime = EXPIRATION_DAYS * 24 * 60 * 60 * 1000;
      recentProducts = recentProducts.filter((item) => dateNow - item.timestamp < expirationTime);

      const existingIndex = recentProducts.findIndex((item) => item.productId == productId);
      if (existingIndex !== -1) {
        recentProducts[existingIndex].timestamp = dateNow;
      } else {
        recentProducts.unshift({ productId, timestamp: dateNow });
      }

      recentProducts.sort((a, b) => b.timestamp - a.timestamp);
      localStorage.setItem(STORAGE_KEY, JSON.stringify(recentProducts));
    })();
  </script>
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute('data-media-id')}"]`);

      if (
        activeMedia.nodeName == 'DEFERRED-MEDIA' &&
        activeMedia.querySelector('template')?.content?.querySelector('.js-youtube')
      )
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);

  function updateTotalPrice() {
    const options = document.querySelectorAll(".quantity-option");
    const totalPriceEl = document.querySelector(".total-price");
    const customInput = document.querySelector("#custom-qty");

    options.forEach(option => {
      option.addEventListener("click", () => {
        // Remove active state
        options.forEach(o => o.classList.remove("active"));
        // Add active state to clicked option
        option.classList.add("active");

        // Get price from dataset
        let price = parseFloat(option.dataset.price);

        const extraHtml = '<div class="unit-price">' + option.dataset.unitprice + '/ea.</div>';


        // Format price like Shopify
        if (typeof Shopify !== "undefined" && Shopify.formatMoney) {
          totalPriceEl.innerHTML = Shopify.formatMoney(option.dataset.price) + extraHtml;
        } else {
          totalPriceEl.innerHTML = "$" + (option.dataset.price / 100).toFixed(2) + extraHtml;
        }
      });
    });

    if (customInput) {
      const handleCustomQty = () => {
        // Activate custom-option when typing or clicking
        options.forEach(o => o.classList.remove("active"));
        document.querySelector(".custom-option").classList.add("active");

        // If empty, clear the total and stop
        if (customInput.value.trim() === "") {
          totalPriceEl.textContent = "";
          return;
        }

        let qty = parseInt(customInput.value, 10);

        if (isNaN(qty) || qty <= 0) {
          totalPriceEl.textContent = "$0.00";
          return;
        }

        // Get all available bundle options
        let bundles = Array.from(document.querySelectorAll(".quantity-option:not(.custom-option)"))
          .map(o => ({
            qty: parseInt(o.dataset.qty, 10),
            price: parseFloat(o.dataset.price),
            saveoff: o.dataset.saveoff,
            unitprice: o.dataset.unitprice,
            hidden: o.classList.contains("hidden")
          }))
          .filter(b => !isNaN(b.qty) && !isNaN(b.price))
          .sort((a, b) => a.qty - b.qty); // sort ascending by qty

        // Find the best matching bundle (largest qty <= entered qty)
        let matched = bundles[0];
        for (let b of bundles) {
          if (b.qty <= qty) {
            matched = b;
          } else {
            break;
          }
        }

        if ( matched && matched.hidden) {
          total = matched.price * parseInt(customInput.value, 10);
        } else {
          // Normal case: use matched bundle
          unitPrice = matched.price / matched.qty;
          total = unitPrice * qty;
        }

        const extraHtml = '<div class="unit-price">' + matched.unitprice + '/ea.</div>';

        if (typeof Shopify !== "undefined" && Shopify.formatMoney) {
          totalPriceEl.innerHTML = Shopify.formatMoney(total) + extraHtml;
        } else {
          totalPriceEl.innerHTML = "$" + (total / 100).toFixed(2) + extraHtml;
        }
      };

      ["input"].forEach(evt => {
        customInput.addEventListener(evt, handleCustomQty);
      });
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const addToCartBtn = document.querySelector(".button--add-to-cart");
    const checkoutBtn = document.querySelector(".button--checkout");
    const fileInput = document.getElementById("watermark-image-input");
    const uploadLaterInput = document.getElementById("upload-option");
    const uploadLaterBtn = document.querySelector(".upload-btn");

    let alreadyAdded = false;

    function toggleButtons() {
      const fileUploaded = fileInput?.files?.length > 0;
      const uploadLaterSelected = uploadLaterInput?.value !== "";

      if (fileUploaded || uploadLaterSelected) {
        addToCartBtn.disabled = false;
        checkoutBtn.disabled = false;
        addToCartBtn.classList.remove("disabled");
        checkoutBtn.classList.remove("disabled");
      } else {
        addToCartBtn.disabled = true;
        checkoutBtn.disabled = true;
        addToCartBtn.classList.add("disabled");
        checkoutBtn.classList.add("disabled");
      }
    }

    toggleButtons();

    fileInput?.addEventListener("change", toggleButtons);

    uploadLaterBtn?.addEventListener("click", () => {
      setTimeout(toggleButtons, 50);
    });

    async function addToCart() {
      const activeOption = document.querySelector(".quantity-option.active");
      const qtyInput = document.getElementById("custom-qty");

      let quantity = 1;
      let variantId = null;

      // Handle preset bundle
      if (activeOption && !activeOption.classList.contains("custom-option")) {
        quantity = 1;
        variantId = activeOption.dataset.variantid;
      } else if (qtyInput && qtyInput.value) {
        quantity = Math.max(1, parseInt(qtyInput.value, 10) || 1);

        const bundles = Array.from(document.querySelectorAll(".quantity-option"));
        const matched = bundles.find(b => parseInt(b.dataset.qty, 10) === quantity);

        variantId = matched ? matched.dataset.variantid : bundles[0]?.dataset.variantid;
      }

      if (!variantId) {
        console.error("No variant ID found");
        return false;
      }

      // const proofing = document.getElementById("proofing-option")?.value || "";
      // const uploadLater = document.getElementById("upload-option")?.value || "";
      const personalization = document.getElementById("personalization")?.value || "";
      const fileInput = document.getElementById("watermark-image-input");

      const formData = new FormData();
      formData.append("id", variantId);
      formData.append("quantity", quantity);

      if (activeOption) {
        formData.append("properties[Bundle]", activeOption.innerText.trim() || `Custom (${quantity})`);
      }

      // if (proofing) formData.append("properties[Proofing]", proofing);
      // if (uploadLater) formData.append("properties[Upload Later]", uploadLater);
      if (personalization) formData.append("properties[Personalization]", personalization);
      if (fileInput?.files[0]) {
        formData.append("properties[Uploaded File]", fileInput.files[0]);
      }

      try {
        await fetch("/cart/add.js", {
          method: "POST",
          body: formData
        });
        console.log("Added to cart:", { variantId, quantity });
        alreadyAdded = true;
        return true;
      } catch (err) {
        console.error("Add to cart error:", err);
        return false;
      }
    }

    // Add to Cart button
    addToCartBtn.addEventListener("click", addToCart);

    // Checkout button
    checkoutBtn.addEventListener("click", async () => {
      if (!alreadyAdded) {
        const success = await addToCart();
        if (!success) return;
      }
      window.location.href = "/checkout";
    });


    const fileInputs = document.querySelectorAll(
      '.custom-file-upload + input[type="file"]'
    );
    const fileLabels = document.querySelectorAll('.custom-file-upload');
    const fileNames = document.querySelectorAll('#file-name .selected-holder');
    const defaultHolders = document.querySelectorAll('#file-name .default-holder');
    const selectedImages = document.querySelectorAll('#file-name .selected-image');
    const uploadLaters = document.querySelectorAll('.upload-later');

    uploadLaters.forEach((uploadLater, index) => {
      uploadLater.addEventListener('click', (e) => {
        e.preventDefault();
        const defaultHolder = defaultHolders[index];
        const fileNameDisplay = fileNames[index];
        const selectedImage = selectedImages[index];

        defaultHolder.style.display = "block";
        fileNameDisplay.innerHTML = "";
        selectedImage.innerHTML = ""; // clear preview
      });
    });

    fileInputs.forEach((fileInput, index) => {
      const fileLabel = fileLabels[index];
      const fileNameDisplay = fileNames[index];
      const defaultHolder = defaultHolders[index];
      const selectedImage = selectedImages[index];

      fileLabel.addEventListener('dragover', (e) => {
        e.preventDefault();
        fileLabel.classList.add('dragover');
      });

      fileLabel.addEventListener('dragleave', () => {
        fileLabel.classList.remove('dragover');
      });

      fileLabel.addEventListener('drop', (e) => {
        e.preventDefault();
        fileLabel.classList.remove('dragover');
        fileInput.files = e.dataTransfer.files;
        updateFile(fileInput, fileNameDisplay, defaultHolder, selectedImage);
      });

      fileInput.addEventListener('change', () => {
        if (fileInput.files.length > 0) {
          updateFile(fileInput, fileNameDisplay, defaultHolder, selectedImage);
        } else {
          fileInput.value = '';
          fileNameDisplay.innerHTML = '';
          selectedImage.innerHTML = '';
          defaultHolder.style.display = "block";
        }
      });
    });

    function updateFile(fileInput) {
      const file = fileInput.files[0];

      const defaultHolder = document.querySelector(".default-holder");
      const fileInfo = document.querySelector(".file-info");
      const fileTitle = document.querySelector(".file-title");
      const fileNameText = document.querySelector(".file-name-text");
      const fileMeta = document.querySelector(".file-meta");
      const selectedImage = document.querySelector(".selected-image");

      if (!file) return;

      defaultHolder.style.display = "none";
      fileInfo.style.display = "flex";
      document.querySelector(".custom-file-upload").classList.add("uploaded");

      const fileSize = (file.size / 1024 / 1024).toFixed(2);
      const fileType = file.name.includes(".")
        ? file.name.split(".").pop().toUpperCase()
        : "UNKNOWN";

      if (file.type.startsWith("image/")) {
        const reader = new FileReader();

        reader.onload = function (e) {
          const img = new Image();
          img.src = e.target.result;

          img.onload = function () {
            const width = img.width;
            const height = img.height;

            fileNameText.textContent = file.name;

            fileMeta.innerHTML = `
              <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3038 9.98634L12.7131 11.5771L11.6518 10.5166L13.2433 8.92584L11.6518 7.33434L9.53082 9.45609L8.47032 8.39559L10.5906 6.27384L9.00057 4.68309L7.40982 6.27384L6.34857 5.21334L7.94007 3.62259L5.81832 1.50084C5.67767 1.36024 5.48694 1.28125 5.28807 1.28125C5.08919 1.28125 4.89846 1.36024 4.75782 1.50084L1.04532 5.21334C0.904713 5.35399 0.825727 5.54472 0.825727 5.74359C0.825727 5.94246 0.904713 6.13319 1.04532 6.27384L12.1828 17.4113C12.3235 17.5519 12.5142 17.6309 12.7131 17.6309C12.9119 17.6309 13.1027 17.5519 13.2433 17.4113L16.9558 13.6988C17.0255 13.6292 17.0809 13.5465 17.1186 13.4554C17.1564 13.3644 17.1758 13.2668 17.1758 13.1682C17.1758 13.0697 17.1564 12.9721 17.1186 12.881C17.0809 12.79 17.0255 12.7072 16.9558 12.6376L14.3038 9.98634Z" fill="#9CA3AF"/></svg>${fileType}</span>
              <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.125 9C12.8266 9 12.5405 8.88147 12.3295 8.6705C12.1185 8.45952 12 8.17337 12 7.875C12 7.57663 12.1185 7.29048 12.3295 7.0795C12.5405 6.86853 12.8266 6.75 13.125 6.75C13.4234 6.75 13.7095 6.86853 13.9205 7.0795C14.1315 7.29048 14.25 7.57663 14.25 7.875C14.25 8.17337 14.1315 8.45952 13.9205 8.6705C13.7095 8.88147 13.4234 9 13.125 9ZM10.875 6C10.5766 6 10.2905 5.88147 10.0795 5.6705C9.86853 5.45952 9.75 5.17337 9.75 4.875C9.75 4.57663 9.86853 4.29048 10.0795 4.0795C10.2905 3.86853 10.5766 3.75 10.875 3.75C11.1734 3.75 11.4595 3.86853 11.6705 4.0795C11.8815 4.29048 12 4.57663 12 4.875C12 5.17337 11.8815 5.45952 11.6705 5.6705C11.4595 5.88147 11.1734 6 10.875 6ZM7.125 6C6.82663 6 6.54048 5.88147 6.3295 5.6705C6.11853 5.45952 6 5.17337 6 4.875C6 4.57663 6.11853 4.29048 6.3295 4.0795C6.54048 3.86853 6.82663 3.75 7.125 3.75C7.42337 3.75 7.70952 3.86853 7.9205 4.0795C8.13147 4.29048 8.25 4.57663 8.25 4.875C8.25 5.17337 8.13147 5.45952 7.9205 5.6705C7.70952 5.88147 7.42337 6 7.125 6ZM4.875 9C4.57663 9 4.29048 8.88147 4.0795 8.6705C3.86853 8.45952 3.75 8.17337 3.75 7.875C3.75 7.57663 3.86853 7.29048 4.0795 7.0795C4.29048 6.86853 4.57663 6.75 4.875 6.75C5.17337 6.75 5.45952 6.86853 5.6705 7.0795C5.88147 7.29048 6 7.57663 6 7.875C6 8.17337 5.88147 8.45952 5.6705 8.6705C5.45952 8.88147 5.17337 9 4.875 9ZM9 2.25C7.20979 2.25 5.4929 2.96116 4.22703 4.22703C2.96116 5.4929 2.25 7.20979 2.25 9C2.25 10.7902 2.96116 12.5071 4.22703 13.773C5.4929 15.0388 7.20979 15.75 9 15.75C9.29837 15.75 9.58452 15.6315 9.7955 15.4205C10.0065 15.2095 10.125 14.9234 10.125 14.625C10.125 14.3325 10.0125 14.07 9.8325 13.875C9.66 13.6725 9.5475 13.41 9.5475 13.125C9.5475 12.8266 9.66603 12.5405 9.87701 12.3295C10.088 12.1185 10.3741 12 10.6725 12H12C12.9946 12 13.9484 11.6049 14.6517 10.9017C15.3549 10.1984 15.75 9.24456 15.75 8.25C15.75 4.935 12.7275 2.25 9 2.25Z" fill="#9CA3AF"/></svg> ${fileSize} MB</span>
              <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.2712 12.2583L17.1523 15.1383H2.67247V0.660156L14.2712 12.2583ZM7.48072 5.89309C7.43115 5.84363 7.36399 5.81585 7.29397 5.81585C7.22395 5.81585 7.15678 5.84363 7.10722 5.89309L6.45472 6.54559C6.40541 6.59482 6.37768 6.66163 6.37763 6.7313C6.37758 6.80098 6.40521 6.86782 6.45444 6.91712C6.50367 6.96643 6.57047 6.99416 6.64014 6.99421C6.70982 6.99427 6.77666 6.96664 6.82597 6.91741L7.48072 6.26491C7.52984 6.21539 7.5574 6.14847 7.5574 6.07872C7.5574 6.00897 7.52984 5.94261 7.48072 5.89309ZM8.38072 6.79534C8.35641 6.77085 8.32749 6.75142 8.29563 6.73815C8.26377 6.72489 8.2296 6.71806 8.19509 6.71806C8.16059 6.71806 8.12642 6.72489 8.09456 6.73815C8.0627 6.75142 8.03378 6.77085 8.00947 6.79534L6.79616 8.00697C6.77167 8.03128 6.75223 8.0602 6.73896 8.09206C6.7257 8.12392 6.71887 8.15808 6.71887 8.19259C6.71887 8.2271 6.7257 8.26127 6.73896 8.29313C6.75223 8.32499 6.77167 8.35391 6.79616 8.37822C6.82031 8.40321 6.84921 8.42312 6.88118 8.43677C6.91314 8.45042 6.94751 8.45753 6.98227 8.45768C7.01702 8.45784 7.05146 8.45104 7.08354 8.43768C7.11563 8.42433 7.14472 8.40468 7.16909 8.37991L8.38184 7.16884C8.43114 7.1193 8.45881 7.05226 8.45881 6.98238C8.45881 6.91249 8.43114 6.84545 8.38184 6.79591L8.38072 6.79534ZM9.28353 7.69534C9.23397 7.64588 9.1668 7.6181 9.09678 7.6181C9.02676 7.6181 8.9596 7.64588 8.91003 7.69534L8.25753 8.34897C8.22026 8.38561 8.19477 8.43254 8.18432 8.48376C8.17386 8.53497 8.17893 8.58814 8.19886 8.63646C8.21879 8.68478 8.25268 8.72605 8.2962 8.755C8.33972 8.78395 8.39089 8.79926 8.44316 8.79897C8.47795 8.79899 8.51241 8.79215 8.54455 8.77883C8.57669 8.76551 8.60589 8.74597 8.63047 8.72134L9.28297 8.06884C9.30755 8.04429 9.32704 8.01514 9.34034 7.98304C9.35365 7.95095 9.36049 7.91655 9.36049 7.88181C9.36049 7.84707 9.35365 7.81267 9.34034 7.78058C9.32704 7.74849 9.30755 7.71933 9.28297 7.69478L9.28353 7.69534ZM10.1835 8.59759C10.1338 8.54845 10.0667 8.52098 9.99683 8.52119C9.92695 8.5214 9.85999 8.54928 9.81059 8.59872L9.15922 9.25122C9.13477 9.27574 9.11539 9.30484 9.10218 9.33686C9.08898 9.36887 9.08221 9.40317 9.08226 9.4378C9.08231 9.47243 9.08919 9.50672 9.10249 9.53869C9.11579 9.57066 9.13526 9.59971 9.15978 9.62416C9.18431 9.64861 9.21341 9.66799 9.24542 9.68119C9.27743 9.6944 9.31174 9.70117 9.34637 9.70111C9.381 9.70106 9.41528 9.69419 9.44725 9.68089C9.47923 9.66759 9.50827 9.64812 9.53272 9.62359L10.1841 8.97109C10.2336 8.92153 10.2613 8.85437 10.2613 8.78434C10.2613 8.71432 10.2336 8.64716 10.1841 8.59759H10.1835ZM11.0858 9.49984C11.0614 9.47523 11.0323 9.4557 11.0003 9.44237C10.9683 9.42904 10.934 9.42218 10.8993 9.42218C10.8646 9.42218 10.8303 9.42904 10.7983 9.44237C10.7663 9.4557 10.7373 9.47523 10.7128 9.49984L9.50122 10.7109C9.47571 10.7352 9.45532 10.7644 9.44125 10.7967C9.42717 10.829 9.41969 10.8638 9.41926 10.899C9.41882 10.9342 9.42543 10.9692 9.4387 11.0019C9.45197 11.0345 9.47163 11.0642 9.49653 11.0891C9.52143 11.114 9.55106 11.1337 9.58368 11.147C9.6163 11.1604 9.65126 11.167 9.68649 11.1666C9.72173 11.1663 9.75653 11.1588 9.78885 11.1448C9.82118 11.1308 9.85037 11.1104 9.87472 11.085L11.0858 9.87278C11.1351 9.82324 11.1627 9.7562 11.1627 9.68631C11.1627 9.61643 11.1351 9.54939 11.0858 9.49984ZM12.2052 13.7878C12.2545 13.8372 12.3215 13.8651 12.3914 13.8653C12.4613 13.8655 12.5284 13.838 12.5781 13.7889L13.7897 12.5778C13.8142 12.5534 13.8336 12.5244 13.8469 12.4924C13.8602 12.4604 13.867 12.4262 13.867 12.3916C13.8671 12.357 13.8603 12.3227 13.8471 12.2907C13.8338 12.2587 13.8145 12.2297 13.79 12.2052C13.7655 12.1807 13.7365 12.1613 13.7046 12.148C13.6726 12.1347 13.6383 12.1279 13.6037 12.1279C13.5691 12.1278 13.5349 12.1346 13.5029 12.1478C13.4709 12.1611 13.4418 12.1805 13.4173 12.2049L12.2057 13.4165C12.1812 13.4408 12.1618 13.4698 12.1485 13.5016C12.1353 13.5335 12.1284 13.5676 12.1284 13.6022C12.1284 13.6367 12.1353 13.6708 12.1485 13.7027C12.1618 13.7345 12.1812 13.7635 12.2057 13.7878H12.2052ZM11.862 12.327C11.912 12.3767 11.9794 12.405 12.0499 12.4057C12.0845 12.4058 12.1187 12.399 12.1506 12.3857C12.1825 12.3724 12.2113 12.3528 12.2355 12.3281L12.8897 11.6756C12.9143 11.6513 12.9338 11.6224 12.9471 11.5905C12.9604 11.5587 12.9672 11.5245 12.9672 11.49C12.9672 11.4554 12.9604 11.4213 12.9471 11.3894C12.9338 11.3575 12.9143 11.3286 12.8897 11.3043C12.8654 11.2795 12.8365 11.2597 12.8045 11.2461C12.7725 11.2326 12.7382 11.2255 12.7034 11.2253C12.6687 11.2251 12.6343 11.2317 12.6021 11.2449C12.57 11.2581 12.5408 11.2775 12.5162 11.3021L11.8626 11.9557C11.8381 11.98 11.8187 12.0089 11.8054 12.0408C11.7921 12.0727 11.7853 12.1068 11.7853 12.1413C11.7853 12.1759 11.7921 12.21 11.8054 12.2419C11.8187 12.2737 11.8381 12.3027 11.8626 12.327H11.862ZM10.962 11.4258C10.9864 11.4505 11.0154 11.4701 11.0473 11.4834C11.0793 11.4968 11.1136 11.5037 11.1482 11.5037C11.1829 11.5037 11.2172 11.4968 11.2491 11.4834C11.2811 11.4701 11.3101 11.4505 11.3344 11.4258L11.9869 10.7733C12.0114 10.7488 12.0307 10.7197 12.0439 10.6877C12.0571 10.6557 12.0639 10.6214 12.0639 10.5868C12.0638 10.5521 12.0569 10.5178 12.0436 10.4859C12.0303 10.4539 12.0109 10.4249 11.9863 10.4004C11.9618 10.376 11.9327 10.3566 11.9007 10.3434C11.8687 10.3302 11.8344 10.3234 11.7998 10.3234C11.7651 10.3235 11.7308 10.3304 11.6989 10.3437C11.6669 10.357 11.6379 10.3764 11.6134 10.401L10.9609 11.0535C10.9118 11.103 10.8842 11.1699 10.8842 11.2397C10.8842 11.3094 10.9118 11.3763 10.9609 11.4258H10.962ZM5.48497 12.3258H10.3618L5.48497 7.44897V12.3258ZM5.55247 6.01684C5.57666 6.04152 5.60555 6.06111 5.63743 6.07444C5.66931 6.08777 5.70354 6.09458 5.73809 6.09447C5.77298 6.09457 5.80755 6.08776 5.83979 6.07443C5.87204 6.06111 5.90132 6.04154 5.92597 6.01684L6.57847 5.36434C6.60292 5.33989 6.62231 5.31087 6.63555 5.27892C6.64878 5.24697 6.65559 5.21273 6.65559 5.17816C6.65559 5.14358 6.64878 5.10934 6.63555 5.07739C6.62231 5.04545 6.60292 5.01642 6.57847 4.99197C6.55402 4.96752 6.52499 4.94812 6.49304 4.93489C6.4611 4.92166 6.42686 4.91485 6.39228 4.91485C6.3577 4.91485 6.32346 4.92166 6.29152 4.93489C6.25957 4.94812 6.23054 4.96752 6.20609 4.99197L5.55359 5.64447C5.45009 5.74741 5.44953 5.91447 5.55247 6.01684ZM4.09222 5.67484C4.14181 5.72389 4.20877 5.75135 4.27852 5.75125C4.34827 5.75114 4.41515 5.72348 4.46459 5.67428L5.67622 4.46322C5.7256 4.41369 5.75328 4.34657 5.75318 4.27663C5.75307 4.20669 5.72519 4.13966 5.67566 4.09028C5.62613 4.0409 5.55901 4.01322 5.48907 4.01332C5.41913 4.01343 5.3521 4.04131 5.30272 4.09084L4.09109 5.30247C3.98816 5.40541 3.98984 5.57247 4.09222 5.67484Z" fill="#9CA3AF"/></svg> ${width}x${height}px</span>`;

            selectedImage.innerHTML = `
              <img src="${e.target.result}" alt="Preview">
            `;
            selectedImage.style.display = 'flex';
          };
        };

        reader.readAsDataURL(file);

      } else {
        fileTitle.innerHTML = file.name;

        fileMeta.innerHTML = `
          <span>${fileType}</span>
          <span>${fileSize} MB</span>
        `;

        selectedImage.innerHTML = "";
      }
    }

    updateTotalPrice();
    document.addEventListener("shopify:section:load", function (e) {
      updateTotalPrice();
    });

    // Proofing button
    document.querySelectorAll('.proofing-btn').forEach(button => {
      button.addEventListener('click', () => {
        const input = document.getElementById('proofing-option');

        if (button.classList.contains('active')) {
          // Toggle off
          button.classList.remove('active');
          input.value = "";
        } else {
          // Toggle on
          button.classList.add('active');
          input.value = button.dataset.value;
        }
      });
    });

    // Upload Later button
    document.querySelectorAll('.upload-btn').forEach(button => {
      button.addEventListener('click', () => {
        const input = document.getElementById('upload-option');

        if (button.classList.contains('active')) {
          // Toggle off
          button.classList.remove('active');
          input.value = "";
        } else {
          // Toggle on
          button.classList.add('active');
          input.value = button.dataset.value;
        }
      });
    });

  });
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.desktop_alignment.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.desktop_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.desktop_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "after",
          "label": "t:sections.main-product.settings.mobile_alignment.options__1.label"
        },
        {
          "value": "before",
          "label": "t:sections.main-product.settings.mobile_alignment.options__2.label"
        }
      ],
      "default": "before",
      "label": "t:sections.main-product.settings.mobile_alignment.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "select",
      "id": "thumbs_direction",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-product.settings.thumbs_direction.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-product.settings.thumbs_direction.options__2.label"
        }
      ],
      "default": "vertical",
      "label": "t:sections.main-product.settings.thumbs_direction.label"
    },
    {
      "type": "select",
      "id": "thumbs_aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.main-product.settings.thumbs_aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "thumbs_image_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.main-product.settings.thumbs_image_fit.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom_mobile",
      "default": false,
      "label": "t:sections.main-product.settings.enable_image_zoom_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom_desktop",
      "default": true,
      "label": "t:sections.main-product.settings.enable_image_zoom_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "arrow_color_scheme",
      "default": "background-2",
      "label": "t:sections.main-product.settings.arrow_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "limit": 1,
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "{{ product.vendor }}",
          "label": "t:sections.main-product.blocks.text.name"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_info",
          "default": false,
          "label": "t:sections.main-product.blocks.price.show_tax_info.label"
        }
      ]
    },
    {
      "type": "custom_badges",
      "name": "t:sections.main-product.blocks.custom_badges.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.main-product.blocks.description.settings.text.label",
          "info": "t:sections.main-product.blocks.description.settings.text.info"
        },
        {
          "type": "checkbox",
          "id": "enable_read_more",
          "default": false,
          "label": "t:sections.main-product.blocks.description.settings.enable_read_more.label"
        },
        {
          "type": "checkbox",
          "id": "show_excerpt",
          "default": false,
          "label": "t:sections.main-product.blocks.description.settings.show_excerpt.label",
          "info": "t:sections.main-product.blocks.description.settings.show_excerpt.info"
        }
      ]
    },
    {
      "type": "tags",
      "name": "t:sections.main-product.blocks.tags.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_inventory_amount",
          "default": true,
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_amount.label"
        },
        {
          "type": "number",
          "id": "limited_stock",
          "default": 10,
          "label": "t:sections.main-product.blocks.inventory.settings.limited_stock.label",
          "info": "t:sections.main-product.blocks.inventory.settings.limited_stock.info"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "select",
          "id": "swatch_type",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.info",
          "options": [
            {
              "value": "color",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.option__1.label"
            },
            {
              "value": "variant_image",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_type.option__2.label"
            }
          ],
          "default": "color"
        },
        {
          "type": "select",
          "id": "variant_image_size",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.card.image_ratio_2.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.card.image_ratio_2.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.card.image_ratio_2.options__3.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.main-product.blocks.variant_picker.settings.variant_image_size.label"
        },
        {
          "type": "checkbox",
          "id": "unavailable_options_clickable",
          "default": false,
          "label": "t:sections.main-product.blocks.variant_picker.settings.unavailable_options_clickable.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity.label"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "default": "Share",
          "label": "t:sections.main-product.blocks.share.settings.share_label.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_facebook",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_facebook.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_twitter",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_twitter.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_pinterest",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_pinterest.label"
        },
        {
          "type": "checkbox",
          "id": "show_share_copy",
          "default": true,
          "label": "t:sections.main-product.blocks.share.settings.show_share_copy.label"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "dropdown_information",
      "name": "t:sections.main-product.blocks.dropdown_information.name",
      "limit": 8,
      "settings": [
        {
          "type": "checkbox",
          "id": "characteristics",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.label",
          "info": "t:sections.main-product.blocks.dropdown_information.settings.characteristics.info"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.all.heading.label",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.heading.default"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.text.label",
          "default": "t:sections.main-product.blocks.dropdown_information.settings.description.default"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "checkbox",
          "id": "button_show",
          "default": false,
          "label": "t:sections.all.button.button_show.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.main-product.blocks.dropdown_information.settings.default_open.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "limit": 2,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label",
          "default": "t:sections.main-product.blocks.popup.settings.link_label.default"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.main-product.blocks.popup.settings.heading.label",
          "default": "t:sections.main-product.blocks.popup.settings.heading.default"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.main-product.blocks.popup.settings.text.label",
          "default": "t:sections.main-product.blocks.popup.settings.text.default"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.main-product.blocks.popup.settings.image.label"
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "default": "center",
          "label": "t:sections.main-product.blocks.popup.settings.alignment.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "product_countdown",
      "name": "t:sections.main-product.blocks.product_countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.product_countdown.settings.paragraph__1.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-1",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "inline_richtext",
          "id": "countdown_promo_text",
          "default": "t:sections.main-product.blocks.product_countdown.settings.countdown_promo_text.default",
          "label": "t:sections.main-product.blocks.product_countdown.settings.countdown_promo_text.label"
        },
        {
          "type": "checkbox",
          "id": "show_on_mobile",
          "default": true,
          "label": "t:sections.main-product.blocks.product_countdown.settings.show_on_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.product_countdown.settings.countdown_header.content"
        },
        {
          "type": "checkbox",
          "id": "show_countdown",
          "default": true,
          "label": "t:sections.main-product.blocks.product_countdown.settings.show_countdown.label"
        },
        {
          "type": "text",
          "id": "date_picker",
          "default": "2025-12-01",
          "info": "YYYY-MM-DD",
          "label": "t:sections.main-product.blocks.product_countdown.settings.date_picker.label"
        },
        {
          "type": "text",
          "id": "time_picker",
          "default": "00:00",
          "info": "hh:mm",
          "label": "t:sections.main-product.blocks.product_countdown.settings.time_picker.label"
        },
        {
          "type": "select",
          "id": "completed_countdown",
          "options": [
            {
              "value": "hide_section",
              "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.options__1.label"
            },
            {
              "value": "show_text",
              "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.options__2.label"
            }
          ],
          "default": "show_text",
          "label": "t:sections.main-product.blocks.product_countdown.settings.completed_countdown.label"
        },
        {
          "type": "inline_richtext",
          "id": "countdown_final_text",
          "label": "t:sections.main-product.blocks.product_countdown.settings.countdown_final_text.label",
          "default": "t:sections.main-product.blocks.product_countdown.settings.countdown_final_text.default"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.product_countdown.settings.button_header.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.main-product.blocks.product_countdown.settings.button_label.label",
          "default": "t:sections.main-product.blocks.product_countdown.settings.button_label.default"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        }
      ]
    },
    {
      "type": "additional_service",
      "name": "t:sections.main-product.blocks.additional_service.name",
      "limit": 3,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_2.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.additional_service.settings.info_3.content"
        },
        {
          "type": "product",
          "id": "service_product",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_product.label",
          "info": "t:sections.main-product.blocks.additional_service.settings.service_product.info"
        },
        {
          "type": "text",
          "id": "service_checkbox_label",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_checkbox_label.label"
        },
        {
          "type": "checkbox",
          "id": "service_product_price",
          "default": true,
          "label": "t:sections.main-product.blocks.additional_service.settings.service_product_price.label"
        },
        {
          "type": "inline_richtext",
          "id": "service_description",
          "label": "t:sections.main-product.blocks.additional_service.settings.service_description.label"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary.settings.paragraph__1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary.settings.paragraph__2.content"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.main-product.blocks.complementary.settings.heading.label",
          "default": "t:sections.main-product.blocks.complementary.settings.heading.default"
        },
        {
          "type": "range",
          "id": "products_limit",
          "min": 2,
          "max": 10,
          "step": 1,
          "default": 2,
          "label": "t:sections.product-recommendations.settings.products_limit.label"
        },
        {
          "type": "select",
          "id": "image_fit",
          "label": "t:sections.all.card.image_fit.label",
          "options": [
            {
              "value": "contain",
              "label": "t:sections.all.card.image_fit.options__1.label"
            },
            {
              "value": "cover",
              "label": "t:sections.all.card.image_fit.options__2.label"
            }
          ],
          "default": "cover"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "t:sections.all.card.show_vendor.label"
        }
      ]
    }
  ]
}
{% endschema %}
