{{ 'section-products-carousel.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'products-carousel.js' | asset_url }}" defer="defer"></script>

<div
  class="products-carousel background section-{{ section.id }}-padding products-carousel--visible-overflow"
  data-layout="{{ section.settings.cards_layout }}"
  data-layout-mobile="{{ section.settings.mobile_cards_layout }}"
>
  <div class="products-carousel__top container">
    {% if section.settings.heading != blank %}
    <div class="products-carousel__top-main">
      {% render 'heading-group', section: section, class: 'products-carousel', text_align: 'center' %}
    </div>
    {% endif %}

    {%- if section.settings.button_show -%}
      {% render 'button',
        btn_label: section.settings.button_label,
        btn_style: section.settings.button_style,
        btn_link: section.settings.button_link,
        btn_arrow: false,
        class: 'products-carousel__button'
      %}
    {%- endif -%}
  </div>
  <div class="products-carousel__wrapper container content">
    <div class="products-carousel__layout products-carousel__layout--visible-overflow animate-on-scroll">
      <div class="products-carousel__list content">
        {% assign product_list = section.settings.product_list %}
        {% assign product_count = 0 %}

        {% for product in product_list %}
          {% assign product_count = product_count | plus: 1 %}
        {% endfor %}

        {% liquid
          assign anim_delay_coeff = 0.1

          if product_count > 12
            assign anim_delay_coeff = 0.05
          endif

          if product_count > 24
            assign anim_delay_coeff = 0.025
          endif
        %}
        {%- assign min_items = 9 -%}
        {%- assign repeat_times = min_items | divided_by: product_count | ceil -%}

        {% for r in (1..repeat_times) %}
          {%- for product in section.settings.product_list -%}
            <div
              class="products-carousel__item collection-product-card{% if settings.quickview_hover %} quickview--hover{% endif %}"
              style="--pop-prod-item-delay: {{ forloop.index |  minus: 1 | times: anim_delay_coeff }}s;"
            >

              {% render 'product-card',
                product_card_product: product,
                media_ratio: section.settings.image_ratio,
                media_fit: section.settings.image_fit,
                show_secondary_image: section.settings.show_secondary_image,
                show_inside: section.settings.show_inside,
                show_vendor: section.settings.show_vendor,
                show_desc: section.settings.show_desc,
                show_price: section.settings.show_price,
                show_button: false,
                show_bagde: false,
                section_id: section.id,
                add_id: forloop.index,
                color_scheme: section.settings.color_scheme,
              %}

            </div>
          {%- else -%}
            {% if section.settings.cards_layout == 'bar' %}
              {% assign number_placeholders = 6 %}
            {% else %}
              {% assign number_placeholders = 4 %}
            {% endif %}
            {%- for i in (1..number_placeholders) -%}
              <div
                class="products-carousel__item products-carousel__item_placeholder collection-popular-card collection-popular-card--placeholder"
                style="--pop-prod-item-delay: {{ forloop.index |  minus: 1 |  times: 0.1 }}s;"
              >
                {% render 'product-card-placeholder',
                  media_ratio: section.settings.image_ratio,
                  show_vendor: section.settings.show_vendor,
                  product_number: forloop.index,
                  color_scheme: section.settings.color_scheme
                %}
              </div>
            {%- endfor -%}
          {%- endfor -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="products-carousel__navigation container no-js-hidden">
    <button class="products-carousel__navigation-button products-carousel__navigation-button-prev swiper-button-prev">
      {% render 'icon-btn-arrow' %}
    </button>
    <button class="products-carousel__navigation-button products-carousel__navigation-button-next swiper-button-next">
      {% render 'icon-btn-arrow' %}
    </button>
  </div>
</div>
{% if section.settings.show_inside == true %}
  {% render 'feature-keys' %}
{% endif %}
{% schema %}
{
  "name": "t:sections.products-carousel.name",
  "tag": "section",
  "class": "products-carousel-section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "animate_on_scroll",
      "label": "t:sections.all.animate_on_scroll.label",
      "info": "t:sections.all.animate_on_scroll.info",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.products-carousel.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.products-carousel.settings.product_list.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.products-carousel.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.all.card.show_secondary_image.label",
      "info": "t:sections.all.card.show_secondary_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.all.card.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.all.card.show_desc.label",
      "info": "t:sections.all.card.show_desc.info"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "info": "Show product price"
    },
    {
      "type": "checkbox",
      "id": "show_inside",
      "label": "Show content inside image",
      "info": "Show product content inside the image wrapper",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "button_show",
      "default": true,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.products-carousel.settings.button_label.default"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
  ],
  "presets": [
    {
      "name": "t:sections.products-carousel.presets.name"
    }
  ]
}
{% endschema %}
