{{ 'section-simple-cta.css' | asset_url | stylesheet_tag }}

<section class="simple-cta">
  <div class="container">
    <div class="simple-cta__wrapper">
      <div class="simple-cta__image {% if section.settings.mobile_image != blank %} has-mobile {% endif %}">
        {% if section.settings.image != blank %}
          {{ section.settings.image
            | image_url: width: 794
            | image_tag:
              class: 'simple-cta__img',
              loading: 'lazy'
          }}
        {% endif %}
        {% if section.settings.mobile_image != blank %}
          {{ section.settings.mobile_image
            | image_url: width: 794
            | image_tag:
              class: 'simple-cta__img mobile',
              loading: 'lazy'
          }}
        {% endif %}
      </div>

      <div class="simple-cta__content"
        {% if section.settings.background_image != blank %}
          style="background-image: url({{ section.settings.background_image | image_url: width: 386 }});"
        {% endif %}>

        {% if section.settings.subheading != blank %}
          <p class="simple-cta__subheading body-3">{{ section.settings.subheading }}</p>
        {% endif %}

        {% if section.settings.heading != blank %}
          <h2 class="simple-cta__heading">{{ section.settings.heading }}</h2>
        {% endif %}

        {% if section.settings.body != blank %}
          <p class="simple-cta__body">{{ section.settings.body }}</p>
        {% endif %}

        {% if section.settings.button_label != blank %}
          {% render 'button',
            btn_label: section.settings.button_label,
            btn_link: section.settings.button_link,
            btn_arrow: false,
            class: 'simple-cta__button'
          %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Simple CTA",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Left image for mobile"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Get started Now"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Ready to elevate your brand?"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Body text",
      "default": "Transform your brand with personalized decorating and convenient on-demand printing solutions today!"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Get In Touch"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Simple CTA"
    }
  ]
}
{% endschema %}
