{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
{% if section.blocks.size > 1 %}
  <script src="{{ 'testimonials.js' | asset_url }}" defer="defer"></script>
{% endif %}

<div class="testimonials {{ section.settings.extra_class }}">
  <div class="container">
    <div class="testimonials-heading-container">
      {% render 'heading-group',
        section: section,
        class: 'collections-list__header',
        text_align: section.settings.text_align
      %}
    </div>

    <div class="testimonials-content content">
      {% if section.blocks.size > 0 %}
        <div class="testimonials-main">
          <div class="testimonials-slider testimonials-slider--visible-overflow swiper">
            <div class="testimonials-slider-wrapper swiper-wrapper">
              {% for block in section.blocks %}
                <div class="testimonials-slider-slide swiper-slide" {{ block.shopify_attributes }}>
                  <div class="testimonials-slider-slide__image-wrapper">
                    <div class="author-image">
                      {% if block.settings.image %}
                        {% liquid %}
                        {{
                          block.settings.image
                          | image_url: width: block.settings.image.width
                          | image_tag:
                            width: 40,
                            height: 40,
                            class: 'testimonials-slider-slide__image'
                        }}
                      {% else %}
                        {% assign image_index = forloop.index | minus: 1 | modulo: 3 | plus: 1 %}
                        {{
                          'hero-apparel-'
                          | append: image_index
                          | placeholder_svg_tag: 'placeholder-svg placeholder-svg--filled'
                        }}
                      {% endif %}
                    </div>
                    <div class="logo-image">
                      {% if block.settings.logo %}
                        {% liquid %}
                        {{
                          block.settings.logo
                          | image_url: width: 40
                          | image_tag:
                            width: 40,
                            height: 40,
                            class: 'testimonials-slider-slide__image'
                        }}
                      {% else %}
                        {% assign image_index = forloop.index | minus: 1 | modulo: 3 | plus: 1 %}
                        {{
                          'hero-apparel-'
                          | append: image_index
                          | placeholder_svg_tag: 'placeholder-svg placeholder-svg--filled'
                        }}
                      {% endif %}
                    </div>
                  </div>
                  {%- if block.settings.slide_author != blank or block.settings.slide_author_job != blank -%}
                    <div class="testimonials-slider-slide__content">
                      {%- if block.settings.slide_author != blank -%}
                        <span class="testimonials-slider-slide__author body-2">
                          {{- block.settings.slide_author | escape -}}
                        </span>
                      {%- endif -%}
                      {%- if block.settings.slide_author_job != blank -%}
                        <span class="testimonials-slider-slide__job body-3">
                          {{- block.settings.slide_author_job | escape -}}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <div class="testimonials-slider-slide__rating">
                    {% assign rating = block.settings.rating %}
                    {% for i in (1..rating) %}
                      {% render 'icon-star' %}
                    {% endfor %}
                  </div>
                  {%- if block.settings.slide_text != blank -%}
                    <div class="testimonials-slider-slide__text body-3">
                      {{- block.settings.slide_text | escape -}}
                    </div>
                  {%- endif -%}
                </div>
              {% endfor %}
            </div>
          </div>
          {% comment %} <div class="swiper-pagination"></div>  {% endcomment %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class": "testimonials-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header__2.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "t:sections.all.text_align.label",
      "default": "center"
    },
    {
      "type": "text",
      "id": "extra_class",
      "label": "Custom class"
    },
  ],
  "blocks": [
    {
      "type": "testimonials_slide",
      "name": "t:sections.testimonials.blocks.testimonials_slide.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.image.label",
          "info": "t:sections.testimonials.blocks.testimonials_slide.settings.image.info"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.logo.label",
          "info": "t:sections.testimonials.blocks.testimonials_slide.settings.logo.info"
        },
        {
          "type": "range",
          "id": "rating",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5,
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.rating.label"
        },
        {
          "type": "textarea",
          "id": "slide_text",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.label",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.default"
        },
        {
          "type": "text",
          "id": "slide_author",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_author.label",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_author.default"
        },
        {
          "type": "text",
          "id": "slide_author_job",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_author_job.label",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_author_job.default"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "button_arrow",
          "default": true,
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.button_arrow.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "blocks": [
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        }
      ]
    }
  ]
}
{% endschema %}
